In [1]:
## Load relevant R packages.

inLibraries = list('repr','spdep','raster','rgdal','rgeos')
for (rpack in inLibraries) {
  if (is.element(rpack,installed.packages()[,1])){
      #Load the library into R
      suppressMessages(library(rpack,character.only = TRUE))
    }
    else {
        print(paste("Warning:  ",rpack," is not an installed package"))
    }
}

##  Resize plot area.

options(repr.plot.width=6, repr.plot.height=6)

In [2]:
lc1700name <- 'data/lc/historic_landcover_hd_1700.asc' 
lc1700 <- raster(lc1700name,values=TRUE)

lc1750name <- "data/lc/historic_landcover_hd_1750.asc"
lc1750 <- raster(lc1750name,values=TRUE)

lc1800name <- "data/lc/historic_landcover_hd_1800.asc"
lc1800 <- raster(lc1800name,values=TRUE)

lc1850name <- "data/lc/historic_landcover_hd_1850.asc"
lc1850 <- raster(lc1850name,values=TRUE)

lc1900name <- "data/lc/historic_landcover_hd_1900.asc"
lc1900 <- raster(lc1900name,values=TRUE)

lc1950name <- "data/lc/historic_landcover_hd_1950.asc"
lc1950  <- raster(lc1950name,values=TRUE)

lc1970name <- "data/lc/historic_landcover_hd_1970.asc"
lc1970 <- raster(lc1970name,values=TRUE)

lc1990name <- "data/lc/historic_landcover_hd_1990.asc"
lc1990 <- raster(lc1990name,values=TRUE)


meteorites <- readOGR("data/results", "meteorites_sf")

head(meteorites)

OGR data source with driver: ESRI Shapefile
Source: "/Volumes/Marble/Users/mwy/Documents/PSDS/capstone/data/results", layer: "meteorites_sf"
with 9796 features
It has 14 fields

  X    name      id nametyp recclss mss_n_g fll_r_f year GeoLctn
1 5625 Aachen    1  Valid   L5          21  Fell    1880 (50.775, 6.08333)
2  568 Aarhus    2  Valid   H6         720  Fell    1951 (56.18333, 10.23333)
3  916 Abajo     4  Valid   H5         331  Found   1982 (26.8, -105.41667)
4  918 Abbott    5  Valid   H3-6     21100  Found   1951 (36.3, -104.28333)
5  399 Abee      6  Valid   EH4     107000  Fell    1952 (54.21667, -113.0)
6 6004 Abernathy 7  Valid   L6        2914  Found   1941 (33.85, -101.8)
  grop_nm Chndr_A   type  L3        L4
1 L       Chondrite Stony Ordinary  L
2 H       Chondrite Stony Ordinary  H
3 H       Chondrite Stony Ordinary  H
4 H       Chondrite Stony Ordinary  H
5 EH      Chondrite Stony Enstatite EH-EL
6 L       Chondrite Stony Ordinary  L

In [3]:
landcover_table <- data.frame(coordinates(meteorites),
                              meteorites$name, 
                              meteorites$id,
                              meteorites$year,
                              extract(lc1700, meteorites),
                              extract(lc1750, meteorites),
                              extract(lc1800, meteorites),
                              extract(lc1850, meteorites),
                              extract(lc1900, meteorites),
                              extract(lc1950, meteorites),
                              extract(lc1970, meteorites),
                              extract(lc1990, meteorites))

names(landcover_table) <- c("x", "y", "name", "id", "year","lc1700","lc1750","lc1800","lc1850","lc1900","lc1950","lc1970","lc1990")

head(landcover_table)

Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”
Warning message in proj4string(x):
“CRS object has comment, which is lost in output”

  x          y        name      id year lc1700 lc1750 lc1800 lc1850 lc1900
1    6.08333 50.77500 Aachen    1  1880 11     11     11     11     11
2   10.23333 56.18333 Aarhus    2  1951  1      1      1      1      1
3 -105.41667 26.80000 Abajo     4  1982 15     15     15     15     15
4 -104.28333 36.30000 Abbott    5  1951 13     13     13     13     13
5 -113.00000 54.21667 Abee      6  1952  9      9      9      9      9
6 -101.80000 33.85000 Abernathy 7  1941 13     13     13     13      1
  lc1950 lc1970 lc1990
1 11     11     11
2  1      1      1
3 15      2      2
4 13     13     13
5  2      1      1
6  1      1      1

In [23]:
l <- length(meteorites)

for (i in 1:l){
    
    sample_year <- landcover_table$year[i]
    
    if(sample_year<1700){
        landcover_table$lc_sample[i] <- landcover_table$lc1700[i]
        } else if (sample_year<1750){
        landcover_table$lc_sample[i] <- landcover_table$lc1750[i]
        } else if (sample_year<1800){
        landcover_table$lc_sample[i] <- landcover_table$lc1800[i]
        } else if (sample_year<1850){
        landcover_table$lc_sample[i] <- landcover_table$lc1850[i]
        } else if (sample_year<1900){
        landcover_table$lc_sample[i] <- landcover_table$lc1900[i]
        } else if (sample_year<1950){
        landcover_table$lc_sample[i] <- landcover_table$lc1950[i]
        } else if (sample_year<1970){
        landcover_table$lc_sample[i] <- landcover_table$lc1970[i]
        } else if (sample_year<1990){
        landcover_table$lc_sample[i] <- landcover_table$lc1990[i]
    }
}

meteorite_LCs <- landcover_table[c(4,3,14)]
                                 
head(meteorite_LCs)

  id name      lc_sample
1 1  Aachen    11
2 2  Aarhus     1
3 4  Abajo      2
4 5  Abbott    13
5 6  Abee       1
6 7  Abernathy  1

In [25]:
write.csv(meteorite_LCs,'data/results/meteorites_landcover.csv')