In [17]:
## Load relevant R packages.

inLibraries = list('repr','spdep','raster','rgdal','rgeos')
for (rpack in inLibraries) {
  if (is.element(rpack,installed.packages()[,1])){
      #Load the library into R
      suppressMessages(library(rpack,character.only = TRUE))
    }
    else {
        print(paste("Warning:  ",rpack," is not an installed package"))
    }
}

##  Resize plot area.

options(repr.plot.width=6, repr.plot.height=6)

library(geojsonio)

In [18]:
meteorites <- read.csv("data/results/meteorites.csv",stringsAsFactors=FALSE)
meteorites <- subset(meteorites, select = -c(X) )

population <- read.csv("data/results/meteorites_population.csv",stringsAsFactors=FALSE)
population <- subset(population, select = -c(X) )

landcover <- read.csv("data/results/meteorites_landcover.csv",stringsAsFactors=FALSE)
landcover <- subset(landcover, select = -c(X) )

head(meteorites)
head(population)
head(landcover)

  name      id nametype recclass mass_in_grams fell_or_found year latitude
1 Aachen    1  Valid    L5           21        Fell          1880 50.77500
2 Aarhus    2  Valid    H6          720        Fell          1951 56.18333
3 Abajo     4  Valid    H5          331        Found         1982 26.80000
4 Abbott    5  Valid    H3-6      21100        Found         1951 36.30000
5 Abee      6  Valid    EH4      107000        Fell          1952 54.21667
6 Abernathy 7  Valid    L6         2914        Found         1941 33.85000
  longitude  GeoLocation          group_name Chondrite.Achondrite type
1    6.08333 (50.775, 6.08333)    L          Chondrite            Stony
2   10.23333 (56.18333, 10.23333) H          Chondrite            Stony
3 -105.41667 (26.8, -105.41667)   H          Chondrite            Stony
4 -104.28333 (36.3, -104.28333)   H          Chondrite            Stony
5 -113.00000 (54.21667, -113.0)   EH         Chondrite            Stony
6 -101.80000 (33.85, -101.8)      L          Chondrite            Stony
  L3        L4
1 Ordinary  L
2 Ordinary  H
3 Ordinary  H
4 Ordinary  H
5 Enstatite EH-EL
6 Ordinary  L

  x          y        name      id year closest_city pop   pop_year
1    6.08333 50.77500 Aachen    1  1880 Aachen       48688 1851
2   10.23333 56.18333 Aarhus    2  1951 Aarhus       51000 1900
3 -105.41667 26.80000 Abajo     4  1982 NA              NA   NA
4 -104.28333 36.30000 Abbott    5  1951 NA              NA   NA
5 -113.00000 54.21667 Abee      6  1952 NA              NA   NA
6 -101.80000 33.85000 Abernathy 7  1941 NA              NA   NA

  id name      lc_sample
1 1  Aachen    11
2 2  Aarhus     1
3 4  Abajo      2
4 5  Abbott    13
5 6  Abee       1
6 7  Abernathy  1

In [19]:
meteorites_lc <- merge(meteorites,landcover,by="id")

head(meteorites_lc)

  id name.x    nametype recclass mass_in_grams fell_or_found year latitude
1 1  Aachen    Valid    L5           21        Fell          1880 50.77500
2 2  Aarhus    Valid    H6          720        Fell          1951 56.18333
3 4  Abajo     Valid    H5          331        Found         1982 26.80000
4 5  Abbott    Valid    H3-6      21100        Found         1951 36.30000
5 6  Abee      Valid    EH4      107000        Fell          1952 54.21667
6 7  Abernathy Valid    L6         2914        Found         1941 33.85000
  longitude  GeoLocation          group_name Chondrite.Achondrite type
1    6.08333 (50.775, 6.08333)    L          Chondrite            Stony
2   10.23333 (56.18333, 10.23333) H          Chondrite            Stony
3 -105.41667 (26.8, -105.41667)   H          Chondrite            Stony
4 -104.28333 (36.3, -104.28333)   H          Chondrite            Stony
5 -113.00000 (54.21667, -113.0)   EH         Chondrite            Stony
6 -101.80000 (33.85, -101.8)      L          Chondrite            Stony
  L3        L4    name.y    lc_sample
1 Ordinary  L     Aachen    11
2 Ordinary  H     Aarhus     1
3 Ordinary  H     Abajo      2
4 Ordinary  H     Abbott    13
5 Enstatite EH-EL Abee       1
6 Ordinary  L     Abernathy  1

In [23]:
megatable <- merge(meteorites_lc,population,by="id")

keep <- c('id',
          'nametype',
          'recclass',
          'mass_in_grams',
          'fell_or_found',
          'year.x',
          'latitude',
          'longitude',
          'GeoLocation',
          'group_name',
          'Chondrite.Achondrite',
          'type',
          'L3',
          'L4',
          'lc_sample',
          'closest_city',
          'pop', 
          'pop_year')

megatable2 <- subset(megatable, select = c(keep))

megatable2

     id    nametype recclass      mass_in_grams fell_or_found year.x latitude
1     1    Valid    L5                21.0      Fell          1880   50.77500
2     2    Valid    H6               720.0      Fell          1951   56.18333
3     4    Valid    H5               331.0      Found         1982   26.80000
4     5    Valid    H3-6           21100.0      Found         1951   36.30000
5     6    Valid    EH4           107000.0      Fell          1952   54.21667
6     7    Valid    L6              2914.0      Found         1941   33.85000
7     8    Valid    H                  1.2      Found         1840   60.43333
8     9    Valid    H4              4500.0      Found         1997   27.23944
9    10    Valid    Acapulcoite     1914.0      Fell          1976   16.88333
10   11    Valid    L6              6700.0      Found         1989   27.50000
11   12    Valid    H5               228.0      Found         1989   27.61667
12   13    Valid    H5               145.0      Found         1989   27.81667
13   14    Valid    L6              1020.0      Found         1989   27.58333
14   15    Valid    H3.9/4           115.0      Found         1989   27.60000
15   16    Valid    H3.9/4           561.0      Found         1989   27.63333
16   17    Valid    L5               542.0      Found         1989   27.51667
17   18    Valid    H5               205.0      Found         1989   27.53333
18   19    Valid    L6               127.0      Found         1989   27.73333
19   20    Valid    L6               276.0      Found         1989   27.75000
20   21    Valid    H5              3800.0      Found         1989   27.75000
21   22    Valid    H6                98.0      Found         1989   27.80000
22   23    Valid    H5               490.0      Found         1989   27.83333
23   24    Valid    H5               307.0      Found         1989   27.80000
24   25    Valid    L6                98.0      Found         1989   27.78333
25   26    Valid    H4-5             111.0      Found         1989   27.71667
26   27    Valid    L5               446.0      Found         1989   27.73333
27   28    Valid    H5               207.0      Found         1989   27.70000
28   29    Valid    L6               581.0      Found         1989   27.70000
29   30    Valid    H5               708.0      Found         1989   27.70000
30   31    Valid    H6              2140.0      Found         1989   27.55000
⋮    ⋮     ⋮        ⋮             ⋮             ⋮             ⋮      ⋮
9868 57324 Valid    L6                64.00     Found         2011   -24.85000
9869 57325 Valid    H~5             1198.00     Found         2011   -24.85000
9870 57326 Valid    H~5             5758.00     Found         2011   -24.85000
9871 57327 Valid    LL5               20.00     Found         2010   -25.23333
9872 57328 Valid    H~5              904.00     Found         2011   -25.23333
9873 57329 Valid    H~5               42.00     Found         2011   -25.23333
9874 57330 Valid    H4              8100.00     Found         2010   -24.68333
9875 57331 Valid    L~6              161.00     Found         2011   -24.68333
9876 57332 Valid    L~6              663.00     Found         2011   -24.68333
9877 57333 Valid    L6              7090.00     Found         2011   -24.68333
9878 57334 Valid    L~6              333.00     Found         2011   -24.68333
9879 57335 Valid    L~6              506.00     Found         2011   -24.68333
9880 57336 Valid    L~6              203.00     Found         2011   -24.68333
9881 57337 Valid    L~6              131.00     Found         2011   -24.68333
9882 57338 Valid    H~5            12110.00     Found         2012   -24.68333
9883 57339 Valid    H~5             1035.00     Found         2011   -25.00000
9884 57340 Valid    H~5              120.00     Found         2011   -25.00000
9885 57341 Valid    H~6             1569.00     Found         2011   -25.00000
9886 57342 Valid    Iron, IIIAB    18400.00     Found         2003    39.86667
9887 57347 Valid    Eucrite-mmict    272.75     Found         2010    26.70700
9888 57348 Valid    CM2               31.14     Found         2010    26.81900
9889 57354 Valid    Iron, IIAB    100000.00     Found         2000    31.98457
9890 57428 Valid    LL6              212.00     Found         2012    19.77278
9891 57431 Valid    L3               211.00     Found         2010    19.08188
9892 57432 Valid    L5               263.00     Found         2011    19.18687
9893 57433 Valid    L3              7700.00     Found         2011    19.15823
9894 57434 Valid    LL3               11.10     Found         2012    34.82793
9895 57453 Valid    H4               254.00     Found         2011    40.95465
9896 57454 Valid    L6              2854.00     Found         2012    40.89201
9897 57455 Valid    H4               754.00     Found         2012    40.90183
     longitude  GeoLocation            group_name  Chondrite.Achondrite type
1       6.08333 (50.775, 6.08333)      L           Chondrite            Stony
2      10.23333 (56.18333, 10.23333)   H           Chondrite            Stony
3    -105.41667 (26.8, -105.41667)     H           Chondrite            Stony
4    -104.28333 (36.3, -104.28333)     H           Chondrite            Stony
5    -113.00000 (54.21667, -113.0)     EH          Chondrite            Stony
6    -101.80000 (33.85, -101.8)        L           Chondrite            Stony
7      22.30000 (60.43333, 22.3)       H           Chondrite            Stony
8      29.83583 (27.23944, 29.83583)   H           Chondrite            Stony
9     -99.90000 (16.88333, -99.9)      Acapulcoite Achondrite           Stony
10      3.61667 (27.5, 3.61667)        L           Chondrite            Stony
11      3.85000 (27.61667, 3.85)       H           Chondrite            Stony
12      4.03333 (27.81667, 4.03333)    H           Chondrite            Stony
13      3.81667 (27.58333, 3.81667)    L           Chondrite            Stony
14      3.83333 (27.6, 3.83333)        H           Chondrite            Stony
15      3.96667 (27.63333, 3.96667)    H           Chondrite            Stony
16      3.65000 (27.51667, 3.65)       L           Chondrite            Stony
17      3.70000 (27.53333, 3.7)        H           Chondrite            Stony
18      4.08333 (27.73333, 4.08333)    L           Chondrite            Stony
19      4.10000 (27.75, 4.1)           L           Chondrite            Stony
20      4.16667 (27.75, 4.16667)       H           Chondrite            Stony
21      4.16667 (27.8, 4.16667)        H           Chondrite            Stony
22      4.28333 (27.83333, 4.28333)    H           Chondrite            Stony
23      4.46667 (27.8, 4.46667)        H           Chondrite            Stony
24      4.28333 (27.78333, 4.28333)    L           Chondrite            Stony
25      4.48333 (27.71667, 4.48333)    H           Chondrite            Stony
26      4.40000 (27.73333, 4.4)        L           Chondrite            Stony
27      4.08333 (27.7, 4.08333)        H           Chondrite            Stony
28      4.06667 (27.7, 4.06667)        L           Chondrite            Stony
29      4.06667 (27.7, 4.06667)        H           Chondrite            Stony
30      3.61667 (27.55, 3.61667)       H           Chondrite            Stony
⋮    ⋮          ⋮                      ⋮           ⋮                    ⋮
9868  -70.53333 (-24.85, -70.53333)    L           Chondrite            Stony
9869  -70.53333 (-24.85, -70.53333)    H           Chondrite            Stony
9870  -70.53333 (-24.85, -70.53333)    H           Chondrite            Stony
9871  -69.71667 (-25.23333, -69.71667) LL          Chondrite            Stony
9872  -69.71667 (-25.23333, -69.71667) H           Chondrite            Stony
9873  -69.71667 (-25.23333, -69.71667) H           Chondrite            Stony
9874  -69.76667 (-24.68333, -69.76667) H           Chondrite            Stony
9875  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9876  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9877  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9878  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9879  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9880  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9881  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9882  -69.76667 (-24.68333, -69.76667) H           Chondrite            Stony
9883  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9884  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9885  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9886 -106.88333 (39.86667, -106.88333) Iron IIIAB  Achondrite           Iron
9887  -12.75900 (26.707, -12.759)      Eucrite     Achondrite           Stony
9888  -12.72400 (26.819, -12.724)      CM          Chondrite            Stony
9889   -5.51528 (31.98457, -5.51528)   Iron IIAB   Achondrite           Iron
9890   56.38982 (19.77278, 56.38982)   LL          Chondrite            Stony
9891   54.71472 (19.08188, 54.71472)   L           Chondrite            Stony
9892   54.88170 (19.18687, 54.8817)    L           Chondrite            Stony
9893   54.88668 (19.15823, 54.88668)   L           Chondrite            Stony
9894 -118.14640 (34.82793, -118.1464)  LL          Chondrite            Stony
9895 -118.49693 (40.95465, -118.49693) H           Chondrite            Stony
9896 -118.55319 (40.89201, -118.55319) L           Chondrite            Stony
9897 -118.54465 (40.90183, -118.54465) H           Chondrite            Stony
     L3           L4          lc_sample closest_city pop   pop_year
1    Ordinary     L           11        Aachen       48688 1851
2    Ordinary     H            1        Aarhus       51000 1900
3    Ordinary     H            2        NA              NA   NA
4    Ordinary     H           13        NA              NA   NA
5    Enstatite    EH-EL        1        NA              NA   NA
6    Ordinary     L            1        NA              NA   NA
7    Ordinary     H            1        NA              NA   NA
8    Ordinary     H           11        NA              NA   NA
9    Primitive    -            0        NA              NA   NA
10   Ordinary     L           14        NA              NA   NA
11   Ordinary     H           14        NA              NA   NA
12   Ordinary     H           14        NA              NA   NA
13   Ordinary     L           14        NA              NA   NA
14   Ordinary     H           14        NA              NA   NA
15   Ordinary     H           14        NA              NA   NA
16   Ordinary     L           14        NA              NA   NA
17   Ordinary     H           14        NA              NA   NA
18   Ordinary     L           14        NA              NA   NA
19   Ordinary     L           14        NA              NA   NA
20   Ordinary     H           14        NA              NA   NA
21   Ordinary     H           14        NA              NA   NA
22   Ordinary     H           14        NA              NA   NA
23   Ordinary     H           14        NA              NA   NA
24   Ordinary     L           14        NA              NA   NA
25   Ordinary     H           14        NA              NA   NA
26   Ordinary     L           14        NA              NA   NA
27   Ordinary     H           14        NA              NA   NA
28   Ordinary     L           14        NA              NA   NA
29   Ordinary     H           14        NA              NA   NA
30   Ordinary     H           14        NA              NA   NA
⋮    ⋮            ⋮           ⋮         ⋮            ⋮     ⋮
9868 Ordinary     L           11        NA           NA    NA
9869 Ordinary     H           11        NA           NA    NA
9870 Ordinary     H           11        NA           NA    NA
9871 Ordinary     LL          11        NA           NA    NA
9872 Ordinary     H           11        NA           NA    NA
9873 Ordinary     H           11        NA           NA    NA
9874 Ordinary     H           11        NA           NA    NA
9875 Ordinary     L           11        NA           NA    NA
9876 Ordinary     L           11        NA           NA    NA
9877 Ordinary     L           11        NA           NA    NA
9878 Ordinary     L           11        NA           NA    NA
9879 Ordinary     L           11        NA           NA    NA
9880 Ordinary     L           11        NA           NA    NA
9881 Ordinary     L           11        NA           NA    NA
9882 Ordinary     H           11        NA           NA    NA
9883 Ordinary     H           11        NA           NA    NA
9884 Ordinary     H           11        NA           NA    NA
9885 Ordinary     H           11        NA           NA    NA
9886 Magmatic     Siderite    11        NA           NA    NA
9887 Asteroidal   H-E-D Vesta 11        NA           NA    NA
9888 Carbonaceous CM-CO       11        NA           NA    NA
9889 Magmatic     Siderite    11        NA           NA    NA
9890 Ordinary     LL          11        NA           NA    NA
9891 Ordinary     L           11        NA           NA    NA
9892 Ordinary     L           11        NA           NA    NA
9893 Ordinary     L           11        NA           NA    NA
9894 Ordinary     LL          11        NA           NA    NA
9895 Ordinary     H           11        NA           NA    NA
9896 Ordinary     L           11        NA           NA    NA
9897 Ordinary     H           11        NA           NA    NA

In [24]:
# Creating a score to weight meteorite finds.

# I want there to be a weighting where meteorites found in rare places are "worth more" than those found 
# in obvious places.

# First looking at the population:

urban <- subset(megatable2, (!is.na(megatable$pop)))
summary(urban)
urban

       id          nametype           recclass         mass_in_grams
 Min.   :    1   Length:239         Length:239         Min.   :       0
 1st Qu.:10851   Class :character   Class :character   1st Qu.:     367
 Median :16627   Mode  :character   Mode  :character   Median :    1500
 Mean   :17644                                         Mean   :  108967
 3rd Qu.:23758                                         3rd Qu.:    8750
 Max.   :55584                                         Max.   :15500000
 fell_or_found          year.x        latitude        longitude
 Length:239         Min.   :1623   Min.   :-34.55   Min.   :-157.783
 Class :character   1st Qu.:1893   1st Qu.: 28.50   1st Qu.:  -6.533
 Mode  :character   Median :1934   Median : 38.18   Median :  13.167
                    Mean   :1925   Mean   : 35.21   Mean   :  17.778
                    3rd Qu.:1976   3rd Qu.: 46.30   3rd Qu.:  76.282
                    Max.   :2010   Max.   : 58.55   Max.   : 140.866
 GeoLocation         group_name        Chondrite.Achondrite     type
 Length:239         Length:239         Length:239           Length:239
 Class :character   Class :character   Class :character     Class :character
 Mode  :character   Mode  :character   Mode  :character     Mode  :character



      L3                 L4              lc_sample      closest_city
 Length:239         Length:239         Min.   : 0.000   Length:239
 Class :character   Class :character   1st Qu.: 1.000   Class :character
 Mode  :character   Mode  :character   Median : 2.000   Mode  :character
                                       Mean   : 4.866
                                       3rd Qu.:11.000
                                       Max.   :16.000
      pop             pop_year
 Min.   :   1565   Min.   :1300
 1st Qu.:  32000   1st Qu.:1856
 Median :  47000   Median :1900
 Mean   : 248104   Mean   :1883
 3rd Qu.: 128914   3rd Qu.:1900
 Max.   :5406000   Max.   :2000

     id    nametype recclass          mass_in_grams fell_or_found year.x
1       1  Valid    L5                     21.0     Fell          1880
2       2  Valid    H6                    720.0     Fell          1951
415   425  Valid    Unknown               367.0     Fell          1769
436   446  Valid    CR2-an                160.0     Fell          1957
451   462  Valid    L6                   3200.0     Fell          1873
452   463  Valid    H5                    908.0     Fell          1860
455   466  Valid    L6                 228000.0     Fell          1883
485  2301  Valid    L6                    367.0     Fell          1822
497  2315  Valid    L6                      6.1     Found         1938
499  2318  Valid    LL6                 15000.0     Fell          1914
500  2318  Valid    LL6                 15000.0     Fell          1914
501  2318  Valid    LL6                 15000.0     Fell          1914
532  2346  Valid    L6                   1300.0     Fell          1923
533  2346  Valid    L6                   1300.0     Fell          1923
576  4922  Valid    Iron, IAB-sLL       10322.0     Fell          1934
591  4938  Valid    CM2                   629.0     Fell          1933
594  4941  Valid    Iron, ungrouped       860.0     Found         1960
596  4944  Valid    OC                    367.0     Fell          1704
613  4954  Valid    L5                  44000.0     Fell          1965
614  4954  Valid    L5                  44000.0     Fell          1965
616  4957  Valid    L5                  15500.0     Fell          1994
645  5011  Valid    LL4                  3700.0     Fell          1798
646  5012  Valid    Iron                  367.0     Found         1979
665  5032  Valid    H                      13.9     Fell          1859
666  5032  Valid    H                      13.9     Fell          1859
669  5035  Valid    LL3.8                1100.0     Fell          1921
692  5062  Valid    Iron, IAB complex 1500000.0     Found         1805
702  5072  Valid    H6                    470.0     Fell          1833
719  5090  Valid    LL3.9                7500.0     Fell          1977
755  5128  Valid    L                     762.0     Fell          1886
⋮    ⋮     ⋮        ⋮                 ⋮             ⋮             ⋮
6819 24209 Valid    OC                2.200e+02     Found         1978
6839 24224 Valid    Iron, IAB-an      4.400e+03     Found         1983
6870 24250 Valid    L6                3.500e+02     Fell          1971
6871 24251 Valid    L6                2.756e+03     Fell          1982
6888 24269 Valid    Iron, IIIAB       1.550e+07     Found         1902
6953 30365 Valid    Iron, IAB-ung     6.000e+04     Found         1971
6959 30372 Valid    Stone-uncl        1.000e-01     Fell          1928
6968 30381 Valid    Iron, ungrouped   1.000e+06     Found         1792
7029 30448 Valid    CV3               5.300e+03     Fell          2001
7031 30450 Valid    L5                1.200e+02     Found         2003
7379 34489 Valid    Eucrite           1.800e+02     Fell          2004
7737 44716 Valid    L5                2.040e+03     Found         2006
7788 45816 Valid    H5                4.680e+03     Found         2006
7944 45976 Valid    H/L4              4.780e+02     Fell          2007
7960 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7961 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7962 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7963 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7964 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7965 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7966 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
7967 47351 Valid    Iron, IIE-an      6.800e+03     Fell          2006
8131 48916 Valid    Iron, IVA-an      1.620e+05     Found         1979
8711 52091 Valid    Iron, IIIE        2.000e+05     Found         2005
8864 52854 Valid    LL5               1.850e+02     Found         1965
8931 53810 Valid    H5                4.300e+03     Fell          2010
8937 53840 Valid    Pallasite, PMG    4.995e+05     Found         2008
9036 54608 Valid    Iron, IAB complex 3.000e+06     Found         2004
9083 54719 Valid    H5                1.600e+03     Fell          2010
9332 55584 Valid    Achondrite-ung    1.500e-01     Fell          1917
     latitude  longitude  GeoLocation            group_name
1    50.77500     6.08333 (50.775, 6.08333)      L
2    56.18333    10.23333 (56.18333, 10.23333)   H
415  50.66667     2.33333 (50.66667, 2.33333)    Unknown
436  24.41667    39.51667 (24.41667, 39.51667)   CR
451  36.23333    37.13333 (36.23333, 37.13333)   L
452  44.88333     8.75000 (44.88333, 8.75)       H
455  45.26667    10.15000 (45.26667, 10.15)      L
485  47.46667    -0.55000 (47.46667, -0.55)      L
497  39.75000  -105.20000 (39.75, -105.2)        L
499  53.58333    -2.71667 (53.58333, -2.71667)   LL
500  53.58333    -2.71667 (53.58333, -2.71667)   LL
501  53.58333    -2.71667 (53.58333, -2.71667)   LL
532  52.05000     0.30000 (52.05, 0.3)           L
533  52.05000     0.30000 (52.05, 0.3)           L
576  28.48333    78.50000 (28.48333, 78.5)       Iron IAB
591  -6.33333   106.00000 (-6.33333, 106.0)      CM
594  45.05778     9.19556 (45.05778, 9.19556)    Iron
596  41.36667     2.16667 (41.36667, 2.16667)    Chondrite
613  52.56528    -1.33972 (52.56528, -1.33972)   L
614  52.56528    -1.33972 (52.56528, -1.33972)   L
616  52.03333    20.93583 (52.03333, 20.93583)   L
645  25.36667    82.91667 (25.36667, 82.91667)   LL
646  25.33333    83.00000 (25.33333, 83.0)       Iron
665  42.53333   -73.83333 (42.53333, -73.83333)  H
666  42.53333   -73.83333 (42.53333, -73.83333)  H
669  33.88333    35.50000 (33.88333, 35.5)       LL
692  49.96667     6.53333 (49.96667, 6.53333)    Iron IAB
702  49.36667    16.63333 (49.36667, 16.63333)   H
719  33.83333   115.83333 (33.83333, 115.83333)  LL
755  40.50000   -80.08333 (40.5, -80.08333)      L
⋮    ⋮         ⋮          ⋮                      ⋮
6819  43.82700  -70.24717 (43.827, -70.24717)    Chondrite
6839  32.68333  -85.56667 (32.68333, -85.56667)  Iron IAB
6870  41.70000  -72.65000 (41.7, -72.65)         L
6871  41.71056  -72.67361 (41.71056, -72.67361)  L
6888  45.36667 -122.58333 (45.36667, -122.58333) Iron IIIAB
6953  22.75000  108.33333 (22.75, 108.33333)     Iron IAB
6959  34.16667  131.45000 (34.16667, 131.45)     Stony
6968  22.81667 -102.56667 (22.81667, -102.56667) Iron
7029  39.77978   64.60035 (39.77978, 64.60035)   CV
7031  44.49500   11.35556 (44.495, 11.35556)     L
7379  28.54750  -81.36222 (28.5475, -81.36222)   Eucrite
7737  45.00569   39.20519 (45.00569, 39.20519)   L
7788  54.36495   48.59145 (54.364947, 48.591447) H
7944   3.40500  -76.51000 (3.405, -76.51)        H,L, or LL
7960  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7961  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7962  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7963  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7964  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7965  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7966  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
7967  25.14333   75.81333 (25.14333, 75.81333)   Iron IIE
8131  41.65000   -0.86667 (41.65, -0.86667)      Iron IVA
8711 -30.03306  -51.23000 (-30.03306, -51.23)    Iron IIIE
8864  50.58333    6.16667 (50.58333, 6.16667)    LL
8931  48.76367   21.17633 (48.76367, 21.17633)   H
8937  -6.60000  110.73333 (-6.6, 110.73333)      Main Group
9036  36.30000  120.48333 (36.3, 120.48333)      Iron IAB
9083  26.46469  106.63241 (26.46469, 106.63241)  H
9332  44.11667   27.26667 (44.11667, 27.26667)   Achondrite
     Chondrite.Achondrite type       L3           L4          lc_sample
1    Chondrite            Stony      Ordinary     L           11
2    Chondrite            Stony      Ordinary     H            1
415  -                    -          -            -            1
436  Chondrite            Stony      Carbonaceous CR           2
451  Chondrite            Stony      Ordinary     L            2
452  Chondrite            Stony      Ordinary     H            1
455  Chondrite            Stony      Ordinary     L            1
485  Chondrite            Stony      Ordinary     L            1
497  Chondrite            Stony      Ordinary     L            1
499  Chondrite            Stony      Ordinary     LL           1
500  Chondrite            Stony      Ordinary     LL           1
501  Chondrite            Stony      Ordinary     LL           1
532  Chondrite            Stony      Ordinary     L            2
533  Chondrite            Stony      Ordinary     L            2
576  Achondrite           Iron       Non-magmatic Primative    1
591  Chondrite            Stony      Carbonaceous CM-CO        1
594  Achondrite           Iron       -            -            1
596  Chondrite            Stony      -            -            0
613  Chondrite            Stony      Ordinary     L            1
614  Chondrite            Stony      Ordinary     L            1
616  Chondrite            Stony      Ordinary     L           11
645  Chondrite            Stony      Ordinary     LL           1
646  Achondrite           Iron       -            -            1
665  Chondrite            Stony      Ordinary     H            1
666  Chondrite            Stony      Ordinary     H            1
669  Chondrite            Stony      Ordinary     LL           1
692  Achondrite           Iron       Non-magmatic Primative    2
702  Chondrite            Stony      Ordinary     H            1
719  Chondrite            Stony      Ordinary     LL           1
755  Chondrite            Stony      Ordinary     L            1
⋮    ⋮                    ⋮          ⋮            ⋮           ⋮
6819 Chondrite            Stony      -            -           10
6839 Achondrite           Iron       Non-magmatic Primative   12
6870 Chondrite            Stony      Ordinary     L           10
6871 Chondrite            Stony      Ordinary     L           10
6888 Achondrite           Iron       Magmatic     Siderite     1
6953 Achondrite           Iron       Non-magmatic Primative    2
6959 -                    Stony      -            -           11
6968 Achondrite           Iron       -            -            2
7029 Chondrite            Stony      Carbonaceous CV-CK       11
7031 Chondrite            Stony      Ordinary     L           11
7379 Achondrite           Stony      Asteroidal   H-E-D Vesta 11
7737 Chondrite            Stony      Ordinary     L           11
7788 Chondrite            Stony      Ordinary     H           11
7944 Chondrite            Stony      Ordinary     -           11
7960 Achondrite           Iron       Magmatic     Siderite    11
7961 Achondrite           Iron       Magmatic     Siderite    11
7962 Achondrite           Iron       Magmatic     Siderite    11
7963 Achondrite           Iron       Magmatic     Siderite    11
7964 Achondrite           Iron       Non-magmatic Primative   11
7965 Achondrite           Iron       Non-magmatic Primative   11
7966 Achondrite           Iron       Non-magmatic Primative   11
7967 Achondrite           Iron       Non-magmatic Primative   11
8131 Achondrite           Iron       Magmatic     Siderite    13
8711 Achondrite           Iron       Magmatic     Siderite    11
8864 Chondrite            Stony      Ordinary     LL          11
8931 Chondrite            Stony      Ordinary     H           11
8937 Achondrite           Stony-Iron Pallasite    -           11
9036 Achondrite           Iron       Non-magmatic Primative   11
9083 Chondrite            Stony      Ordinary     H           11
9332 Achondrite           Stony      -            -            2
     closest_city pop     pop_year
1    Aachen         48688 1851
2    Aarhus         51000 1900
415  Saint-Omer     20000 1300
436  Medina         27500 1900
451  Aleppo         99383 1856
452  Alessandria    22994 1848
455  Cremona        28328 1851
485  Angers         25442 1809
497  Denver        272000 1925
499  Preston       120000 1900
500  Warrington     63000 1900
501  Wigan          60000 1900
532  Cambridge      38000 1900
533  Haverhill      37000 1900
576  Sambhal        42000 1900
591  Bantam         50000 1630
594  Pavia          25006 1857
596  Barcelona      43000 1700
613  Coventry      252000 1950
614  Leicester     285000 1950
616  Warsaw       1900000 1975
645  Varanasi      125000 1750
646  Varanasi      640000 1975
665  Albany         55708 1850
666  Troy           36349 1850
669  Beruit        118000 1900
692  Trier          10413 1770
702  Brunn          23367 1804
719  Pochow         80000 1922
755  Pittsburgh    205000 1875
⋮    ⋮            ⋮       ⋮
6819 Portland       56000 1900
6839 Auburn         30000 1900
6870 Hartford      270000 1950
6871 Hartford     1048000 1975
6888 Portland       90000 1900
6953 Nanning        40000 1900
6959 Yamaguchi      11600 1873
6968 Zacatecas      50000 1750
7029 Bukhara        68000 1897
7031 Bologna       560000 1975
7379 Orlando       505000 1975
7737 Krasnodar     530000 1975
7788 Ulyanovsk      44000 1900
7944 Cali         2128000 2000
7960 Kota           34000 1900
7961 Kota           34000 1900
7962 Kota           34000 1900
7963 Kota           34000 1900
7964 Kota           34000 1900
7965 Kota           34000 1900
7966 Kota           34000 1900
7967 Kota           34000 1900
8131 Zaragoza      549000 1975
8711 Porto Alegre 1322000 2000
8864 Aachen        135000 1900
8931 Kosice         35000 1900
8937 Kudus          31000 1900
9036 Jimo         1019000 2000
9083 Guiyang      1665000 2000
9332 Silistra       22000 1852

In [25]:
# 239 of the hits were near an urban area.  Honestly, I don't believe 
# that's going to affect my results very much.

In [26]:
#next, landcover.  These are the land values that meteorites have been found in:

#   11  Temperate deciduous forest
#    2  Pasture/land used for grazing
#    1  Cultivated land
#   14  Hot desert
#   13  Grassland/Steppe
#   10  Temperate mixed forest
#    0  Water Bodies
#   15  Scrubland
#   12  Warm mixed forest 
#   16  Savanna
#    8  Boreal forest
#    9  Cool conifer forest
#   17  Tropical woodland
#   18  Tropical forest
#    7  Wooded tundra
#    6  Tundra

# and here are the percentages for them:

library(dplyr)

counts <- megatable2 %>% group_by(lc_sample) %>% summarise(n=n())

total <- nrow(megatable2)

for (i in 1:16){
    value <- counts[i,2]
    value_percent <- (value/total)*100
    counts[i,3] <- value_percent
}

counts <- counts[,-2]
counts

   lc_sample n
1   0         0.9295746
2   1         7.6790947
3   2         9.8918864
4   6         0.1212489
5   7         0.0707285
6   8         0.4344751
7   9         0.2121855
8  10         1.1720723
9  11        69.2533091
10 12         0.7173891
11 13         3.3444478
12 14         4.4659998
13 15         0.8386380
14 16         0.5759321
15 17         0.1919774
16 18         0.1010407

In [27]:
#  0		  92		 0.9295746	Water Bodies
#  1		 760		 7.6790947	Cultivated land
#  2		 979		 9.8918864	Pasture/land used for grazing
#  6		  12		 0.1212489	Tundra
#  7		   7		 0.0707285	Wooded tundra
#  8		  43		 0.4344751	Boreal forest
#  9		  21		 0.2121855	Cool conifer forest
# 10		 116		 1.1720723	Temperate mixed forest
# 11		6854		69.2533091	Temperate deciduous forest
# 12		  71		 0.7173891	Warm mixed forest
# 13		 331		 3.3444478	Grassland/Steppe
# 14		 442		 4.4659998	Hot desert
# 15		  83		 0.8386380	Scrubland
# 16		  57		 0.5759321	Savanna
# 17		  19		 0.1919774	Tropical woodland
# 18		  10		 0.1010407	Tropical forest

In [28]:
# How does this compare to the actual land coverage?

lc1990name <- "data/lc/historic_landcover_hd_1990.asc"
lc1990 <- raster(lc1990name,values=TRUE)

counts2 <- freq(lc1990)

#lc1990

total2 <- 259200

for (i in 1:18){
    value2 <- counts2[i,2]
    value2_percent <- (value2/total2)*100
    counts2[i,2] <- value2_percent
}

counts2

      value count
 [1,]  0    66.3206019
 [2,]  1     2.2827932
 [3,]  2     4.5821759
 [4,]  5     1.1292438
 [5,]  6     1.8429784
 [6,]  7     0.7133488
 [7,]  8     4.0671296
 [8,]  9     0.6041667
 [9,] 10     0.5412809
[10,] 11     0.3364198
[11,] 12     0.3572531
[12,] 13     1.4336420
[13,] 14     2.2241512
[14,] 15     0.3406636
[15,] 16     1.0501543
[16,] 17     0.7391975
[17,] 18     1.0856481
[18,] 19    10.3491512

In [29]:
# no category 5 or 19....

counts3 <- counts2[-4,]
counts3 <- counts3[-17,]

counts3 <- as.data.frame(counts3)

over_under <- merge(counts, counts3, by.x= "lc_sample", by.y="value")
over_under

   lc_sample n          count
1   0         0.9295746 66.3206019
2   1         7.6790947  2.2827932
3   2         9.8918864  4.5821759
4   6         0.1212489  1.8429784
5   7         0.0707285  0.7133488
6   8         0.4344751  4.0671296
7   9         0.2121855  0.6041667
8  10         1.1720723  0.5412809
9  11        69.2533091  0.3364198
10 12         0.7173891  0.3572531
11 13         3.3444478  1.4336420
12 14         4.4659998  2.2241512
13 15         0.8386380  0.3406636
14 16         0.5759321  1.0501543
15 17         0.1919774  0.7391975
16 18         0.1010407  1.0856481

In [30]:
over_under$over_under <- over_under$count/over_under$n

over_under

   lc_sample n          count      over_under
1   0         0.9295746 66.3206019 71.345108318
2   1         7.6790947  2.2827932  0.297273742
3   2         9.8918864  4.5821759  0.463225691
4   6         0.1212489  1.8429784 15.199964313
5   7         0.0707285  0.7133488 10.085732474
6   8         0.4344751  4.0671296  9.361019057
7   9         0.2121855  0.6041667  2.847351190
8  10         1.1720723  0.5412809  0.461815234
9  11        69.2533091  0.3364198  0.004857815
10 12         0.7173891  0.3572531  0.497990676
11 13         3.3444478  1.4336420  0.428663282
12 14         4.4659998  2.2241512  0.498018660
13 15         0.8386380  0.3406636  0.406210537
14 16         0.5759321  1.0501543  1.823399529
15 17         0.1919774  0.7391975  3.850441033
16 18         0.1010407  1.0856481 10.744659722

In [31]:
# Just as an example, type 11, Temperate deciduous forest, made up 69% of the samples.  
# However, Temperate deciduous forest is only 0.33% of earth's surface.

# This weighting will calculate how many times over or under represented that particular land area is.

# A value < 1 means that the samples underrepresent the earth's land cover.  There should've been more 
# while a value > 1 means the samples overrepresent.  These weights will be important to add for predictions.

head(megatable)
head(megatable2)

  id name.x    nametype recclass mass_in_grams fell_or_found year.x latitude
1 1  Aachen    Valid    L5           21        Fell          1880   50.77500
2 2  Aarhus    Valid    H6          720        Fell          1951   56.18333
3 4  Abajo     Valid    H5          331        Found         1982   26.80000
4 5  Abbott    Valid    H3-6      21100        Found         1951   36.30000
5 6  Abee      Valid    EH4      107000        Fell          1952   54.21667
6 7  Abernathy Valid    L6         2914        Found         1941   33.85000
  longitude  GeoLocation          ⋯ L4    name.y    lc_sample x
1    6.08333 (50.775, 6.08333)    ⋯ L     Aachen    11           6.08333
2   10.23333 (56.18333, 10.23333) ⋯ H     Aarhus     1          10.23333
3 -105.41667 (26.8, -105.41667)   ⋯ H     Abajo      2        -105.41667
4 -104.28333 (36.3, -104.28333)   ⋯ H     Abbott    13        -104.28333
5 -113.00000 (54.21667, -113.0)   ⋯ EH-EL Abee       1        -113.00000
6 -101.80000 (33.85, -101.8)      ⋯ L     Abernathy  1        -101.80000
  y        name      year.y closest_city pop   pop_year
1 50.77500 Aachen    1880   Aachen       48688 1851
2 56.18333 Aarhus    1951   Aarhus       51000 1900
3 26.80000 Abajo     1982   NA              NA   NA
4 36.30000 Abbott    1951   NA              NA   NA
5 54.21667 Abee      1952   NA              NA   NA
6 33.85000 Abernathy 1941   NA              NA   NA

  id nametype recclass mass_in_grams fell_or_found year.x latitude longitude
1 1  Valid    L5           21        Fell          1880   50.77500    6.08333
2 2  Valid    H6          720        Fell          1951   56.18333   10.23333
3 4  Valid    H5          331        Found         1982   26.80000 -105.41667
4 5  Valid    H3-6      21100        Found         1951   36.30000 -104.28333
5 6  Valid    EH4      107000        Fell          1952   54.21667 -113.00000
6 7  Valid    L6         2914        Found         1941   33.85000 -101.80000
  GeoLocation          group_name Chondrite.Achondrite type  L3        L4
1 (50.775, 6.08333)    L          Chondrite            Stony Ordinary  L
2 (56.18333, 10.23333) H          Chondrite            Stony Ordinary  H
3 (26.8, -105.41667)   H          Chondrite            Stony Ordinary  H
4 (36.3, -104.28333)   H          Chondrite            Stony Ordinary  H
5 (54.21667, -113.0)   EH         Chondrite            Stony Enstatite EH-EL
6 (33.85, -101.8)      L          Chondrite            Stony Ordinary  L
  lc_sample closest_city pop   pop_year
1 11        Aachen       48688 1851
2  1        Aarhus       51000 1900
3  2        NA              NA   NA
4 13        NA              NA   NA
5  1        NA              NA   NA
6  1        NA              NA   NA

In [32]:
over_under2 <- subset(over_under, select= -c(2,3))
over_under2

   lc_sample over_under
1   0        71.345108318
2   1         0.297273742
3   2         0.463225691
4   6        15.199964313
5   7        10.085732474
6   8         9.361019057
7   9         2.847351190
8  10         0.461815234
9  11         0.004857815
10 12         0.497990676
11 13         0.428663282
12 14         0.498018660
13 15         0.406210537
14 16         1.823399529
15 17         3.850441033
16 18        10.744659722

In [36]:
megatable3 <- merge (megatable2, over_under2, by="lc_sample")

megatable3 <- megatable3[order(megatable3$id),]

head(megatable3)

     lc_sample id nametype recclass mass_in_grams fell_or_found year.x latitude
2031 11        1  Valid    L5           21        Fell          1880   50.77500
285   1        2  Valid    H6          720        Fell          1951   56.18333
1759  2        4  Valid    H5          331        Found         1982   26.80000
9266 13        5  Valid    H3-6      21100        Found         1951   36.30000
493   1        6  Valid    EH4      107000        Fell          1952   54.21667
411   1        7  Valid    L6         2914        Found         1941   33.85000
     longitude  GeoLocation          group_name Chondrite.Achondrite type
2031    6.08333 (50.775, 6.08333)    L          Chondrite            Stony
285    10.23333 (56.18333, 10.23333) H          Chondrite            Stony
1759 -105.41667 (26.8, -105.41667)   H          Chondrite            Stony
9266 -104.28333 (36.3, -104.28333)   H          Chondrite            Stony
493  -113.00000 (54.21667, -113.0)   EH         Chondrite            Stony
411  -101.80000 (33.85, -101.8)      L          Chondrite            Stony
     L3        L4    closest_city pop   pop_year over_under
2031 Ordinary  L     Aachen       48688 1851     0.004857815
285  Ordinary  H     Aarhus       51000 1900     0.297273742
1759 Ordinary  H     NA              NA   NA     0.463225691
9266 Ordinary  H     NA              NA   NA     0.428663282
493  Enstatite EH-EL NA              NA   NA     0.297273742
411  Ordinary  L     NA              NA   NA     0.297273742

In [38]:
megatable4 <- megatable3[, c(2,4:9,11:15,1,19)]

head(megatable4)

     id recclass mass_in_grams fell_or_found year.x latitude longitude
2031 1  L5           21        Fell          1880   50.77500    6.08333
285  2  H6          720        Fell          1951   56.18333   10.23333
1759 4  H5          331        Found         1982   26.80000 -105.41667
9266 5  H3-6      21100        Found         1951   36.30000 -104.28333
493  6  EH4      107000        Fell          1952   54.21667 -113.00000
411  7  L6         2914        Found         1941   33.85000 -101.80000
     group_name Chondrite.Achondrite type  L3        L4    lc_sample
2031 L          Chondrite            Stony Ordinary  L     11
285  H          Chondrite            Stony Ordinary  H      1
1759 H          Chondrite            Stony Ordinary  H      2
9266 H          Chondrite            Stony Ordinary  H     13
493  EH         Chondrite            Stony Enstatite EH-EL  1
411  L          Chondrite            Stony Ordinary  L      1
     over_under
2031 0.004857815
285  0.297273742
1759 0.463225691
9266 0.428663282
493  0.297273742
411  0.297273742

In [39]:
write.csv(megatable4,'data/results/meteorites_weighted.csv')