In [4]:
## Load R libraries.

inLibraries = list('repr','rgdal','gstat','sp','spdep','rgeos','maptools','RColorBrewer','classInt','raster')
for (rpack in inLibraries) {
  if (is.element(rpack,installed.packages()[,1])){           
      #Load the library into R
      suppressMessages(library(rpack,character.only = TRUE))
    }
    else {
        print(paste("Warning:  ",rpack," is not an installed package"))
    }
}

library(geojsonio)

library(tidyverse)

library(sjstats)


options(repr.plot.width=15, repr.plot.height=15)

Registered S3 method overwritten by 'geojsonsf':
  method        from
  print.geojson geojson


Attaching package: ‘geojsonio’


The following object is masked from ‘package:base’:

    pretty


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.5
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ tidyr::extract() masks raster::extract()
✖ dplyr::filter()  masks stats::filter()
✖ dplyr::lag()     masks stats::lag()
✖ dplyr::select()  masks raster::select()


Attaching package: ‘sjstats’


The following object is masked from ‘package:raster’:

    cv

In [1]:
all_falls <- read.csv('data/results/all_falls.csv')

all <- read.csv('data/results/all.csv')

In [2]:
# Creating Train and Test datasets

# all_falls

set.seed(100)
sample_size <- floor(0.7 * nrow(all_falls))

train_ind <- sample(seq_len(nrow(all_falls)), size = sample_size)

all_falls_train <- all_falls[train_ind, ]
all_falls_test <- all_falls[-train_ind, ]

head(all_falls_train)
dim(all_falls_train)

head(all_falls_test)
dim(all_falls_test)

     X    id    recclass mass  fell_or_found year latitude longitude group
503  4558 12465 L4        7000 Fell          1925 47.75000  16.23333 L
985  6750 24143 H6          40 Fell          1668 45.41667  11.13333 H
1004 6801 24189 H6         594 Fell          1915 25.45000  70.00000 H
919  6444 23760 H6        7235 Fell          1865 26.71667  84.21667 H
470  4443 12342 L6       11510 Fell          1986 34.30000 133.95000 L
823  5821 22792 H5        1250 Fell          1855 27.43333  82.08333 H
     chondrite type  lvl3     lvl4 lc_sample weights
503  Chondrite Stony Ordinary L     2        0.463225691
985  Chondrite Stony Ordinary H     1        0.297273742
1004 Chondrite Stony Ordinary H    14        0.498018660
919  Chondrite Stony Ordinary H     1        0.297273742
470  Chondrite Stony Ordinary L    11        0.004857815
823  Chondrite Stony Ordinary H     1        0.297273742

[1] 784  15

   X   id  recclass mass   fell_or_found year latitude  longitude  group
3    5   6 EH4      107000 Fell          1952  54.21667 -113.00000 EH
5  367 370 L6          780 Fell          1902 -33.16667  -64.95000 L
7  385 390 LL3-6       910 Fell          1949  44.83333   95.16667 LL
8  386 392 H5        30000 Fell          1814  44.21667    0.61667 H
20 438 448 CI1        6000 Fell          1806  44.11667    4.08333 CI
25 451 462 L6         3200 Fell          1873  36.23333   37.13333 L
   chondrite type  lvl3         lvl4  lc_sample weights
3  Chondrite Stony Enstatite    EH-EL  1        0.297273742
5  Chondrite Stony Ordinary     L      2        0.463225691
7  Chondrite Stony Ordinary     LL     2        0.463225691
8  Chondrite Stony Ordinary     H      2        0.463225691
20 Chondrite Stony Carbonaceous CI    11        0.004857815
25 Chondrite Stony Ordinary     L      2        0.463225691

[1] 336  15

In [3]:
# all

set.seed(100)
sample_size <- floor(0.7 * nrow(all))

train_ind <- sample(seq_len(nrow(all)), size = sample_size)

all_train <- all[train_ind, ]
all_test <- all[-train_ind, ]

head(all_train)
length(all_train)

head(all_test)
length(all_test)

     X    id    recclass      mass    fell_or_found year latitude  longitude
3786 3786 11632 L4             633.00 Found         1995  28.69167  13.21967
503   503  2320 L6            3200.00 Fell          1803  43.86667   5.38333
3430 3430 10154 H4               0.83 Found         1992 -30.73783 127.95367
3696 3696 11542 Eucrite-mmict  143.00 Found         1994  28.94550  13.06950
4090 4090 11944 L6              23.60 Found         1991 -30.27467 129.01850
7886 7886 45918 LL6            425.00 Found         2006  20.01352  56.40697
     group   chondrite  type  lvl3       lvl4        lc_sample weights
3786 L       Chondrite  Stony Ordinary   L           11        0.004857815
503  L       Chondrite  Stony Ordinary   L           12        0.497990676
3430 H       Chondrite  Stony Ordinary   H           11        0.004857815
3696 Eucrite Achondrite Stony Asteroidal H-E-D Vesta 11        0.004857815
4090 L       Chondrite  Stony Ordinary   L           11        0.004857815
7886 LL      Chondrite  Stony Ordinary   LL          11        0.004857815

[1] 15

   X  id recclass mass fell_or_found year latitude longitude  group chondrite
3   3  4 H5        331 Found         1982 26.80000 -105.41667 H     Chondrite
8   8  9 H4       4500 Found         1997 27.23944   29.83583 H     Chondrite
11 11 12 H5        228 Found         1989 27.61667    3.85000 H     Chondrite
12 12 13 H5        145 Found         1989 27.81667    4.03333 H     Chondrite
15 15 16 H3.9/4    561 Found         1989 27.63333    3.96667 H     Chondrite
16 16 17 L5        542 Found         1989 27.51667    3.65000 L     Chondrite
   type  lvl3     lvl4 lc_sample weights
3  Stony Ordinary H     2        0.463225691
8  Stony Ordinary H    11        0.004857815
11 Stony Ordinary H    14        0.498018660
12 Stony Ordinary H    14        0.498018660
15 Stony Ordinary H    14        0.498018660
16 Stony Ordinary L    14        0.498018660

[1] 15