In [1]:
## Load relevant R packages.

inLibraries = list('repr','spdep','raster','rgdal','rgeos')
for (rpack in inLibraries) {
  if (is.element(rpack,installed.packages()[,1])){
      #Load the library into R
      suppressMessages(library(rpack,character.only = TRUE))
    }
    else {
        print(paste("Warning:  ",rpack," is not an installed package"))
    }
}

##  Resize plot area.

options(repr.plot.width=6, repr.plot.height=6)

In [2]:
lc1700name <- 'data/lc/historic_landcover_hd_1700.asc' 
lc1700 <- raster(lc1700name,values=TRUE)

lc1750name <- "data/lc/historic_landcover_hd_1750.asc"
lc1750 <- raster(lc1750name,values=TRUE)

lc1800name <- "data/lc/historic_landcover_hd_1800.asc"
lc1800 <- raster(lc1800name,values=TRUE)

lc1850name <- "data/lc/historic_landcover_hd_1850.asc"
lc1850 <- raster(lc1850name,values=TRUE)

lc1900name <- "data/lc/historic_landcover_hd_1900.asc"
lc1900 <- raster(lc1900name,values=TRUE)

lc1950name <- "data/lc/historic_landcover_hd_1950.asc"
lc1950  <- raster(lc1950name,values=TRUE)

lc1970name <- "data/lc/historic_landcover_hd_1970.asc"
lc1970 <- raster(lc1970name,values=TRUE)

lc1990name <- "data/lc/historic_landcover_hd_1990.asc"
lc1990 <- raster(lc1990name,values=TRUE)


meteorites <- readOGR("data/results", "meteorites_sf")

head(meteorites)

OGR data source with driver: ESRI Shapefile
Source: "data/results", layer: "meteorites_sf"
with 9796 features
It has 14 fields

  X    name      id nametyp recclss mss_n_g fll_r_f year GeoLctn
1 5625 Aachen    1  Valid   L5          21  Fell    1880 (50.775, 6.08333)
2  568 Aarhus    2  Valid   H6         720  Fell    1951 (56.18333, 10.23333)
3  916 Abajo     4  Valid   H5         331  Found   1982 (26.8, -105.41667)
4  918 Abbott    5  Valid   H3-6     21100  Found   1951 (36.3, -104.28333)
5  399 Abee      6  Valid   EH4     107000  Fell    1952 (54.21667, -113.0)
6 6004 Abernathy 7  Valid   L6        2914  Found   1941 (33.85, -101.8)
  grop_nm Chndr_A   type  L3        L4
1 L       Chondrite Stony Ordinary  L
2 H       Chondrite Stony Ordinary  H
3 H       Chondrite Stony Ordinary  H
4 H       Chondrite Stony Ordinary  H
5 EH      Chondrite Stony Enstatite EH-EL
6 L       Chondrite Stony Ordinary  L

In [3]:
landcover_table <- data.frame(coordinates(meteorites),
                              meteorites$name, 
                              meteorites$id,
                              meteorites$year,
                              extract(lc1700, meteorites),
                              extract(lc1750, meteorites),
                              extract(lc1800, meteorites),
                              extract(lc1850, meteorites),
                              extract(lc1900, meteorites),
                              extract(lc1950, meteorites),
                              extract(lc1970, meteorites),
                              extract(lc1990, meteorites))

names(landcover_table) <- c("x", "y", "name", "id", "year","lc1700","lc1750","lc1800","lc1850","lc1900","lc1950","lc1970","lc1990")

head(landcover_table)

  x          y        name      id year lc1700 lc1750 lc1800 lc1850 lc1900
1    6.08333 50.77500 Aachen    1  1880 11     11     11     11     11
2   10.23333 56.18333 Aarhus    2  1951  1      1      1      1      1
3 -105.41667 26.80000 Abajo     4  1982 15     15     15     15     15
4 -104.28333 36.30000 Abbott    5  1951 13     13     13     13     13
5 -113.00000 54.21667 Abee      6  1952  9      9      9      9      9
6 -101.80000 33.85000 Abernathy 7  1941 13     13     13     13      1
  lc1950 lc1970 lc1990
1 11     11     11
2  1      1      1
3 15      2      2
4 13     13     13
5  2      1      1
6  1      1      1

In [4]:
meteorites_pre1700  <- meteorites[meteorites$year < 1700,]
meteorites_post1700  <- meteorites[meteorites$year > 1700,]

dim(meteorites)
dim(meteorites_post1700)
dim(meteorites_pre1700)

meteorites_pre1700

[1] 9796   14

[1] 9774   14

[1] 22 14

                coordinates    X             name    id nametyp      recclss
847  (-60.58333, -27.46667) 4820  Campo del Cielo  5247   Valid Iron, IAB-MG
888            (16.2, 39.8) 9660    Castrovillari  5295   Valid   Stone-uncl
3275   (12.73333, 50.18333) 5070          Elbogen  7823   Valid    Iron, IID
3302       (7.35, 47.86667) 8863        Ensisheim 10039   Valid          LL6
3435   (10.33333, 55.33333) 9665     F\303\274nen 10838   Valid   Stone-uncl
3969      (-1.51667, 51.65) 9668          Hatford 11855   Valid   Stone-uncl
4166               (75, 31) 5390        Jalandhar 12069   Valid         Iron
4787   (136.9333, 35.07833) 5848         Minamino 16692   Valid            L
4832     (-105.4333, 27.05) 5278           Morito 16745   Valid  Iron, IIIAB
4865    (6.86667, 44.08333) 9671      Mount Vaisi 16805   Valid   Stone-uncl
4958   (12.51667, 42.51667) 9673            Narni 16914   Valid   Stone-uncl
5020       (130.75, 33.725) 5873           Nogata 16988   Valid           L6
5205      (31.33333, 58.55) 9675        Novy-Ergi 17934   Valid   Stone-uncl
5258         (-0.03333, 39) 9676     Oliva-Gandia 18012   Valid   Stone-uncl
5275              (8, 48.5) 9677          Ortenau 18033   Valid   Stone-uncl
5596    (9.51667, 45.48333) 9684 Rivolta de Bassi 22614   Valid   Stone-uncl
5762   (14.88333, 51.53333) 9687            Sagan 22796   Valid   Stone-uncl
5846   (137.7833, 34.71667)  834         Sasagase 23187   Valid            H
6347       (9.05, 52.53333) 9688        Stolzenau 23726   Valid   Stone-uncl
6353      (-3.95, 50.38333) 9689     Stretchleigh 23732   Valid   Stone-uncl
6674   (11.13333, 45.41667)  888             Vago 24143   Valid           H6
6677       (12.1, 44.06667) 9692        Valdinoce 24146   Valid   Stone-uncl
       mss_n_g fll_r_f year                GeoLctn    grop_nm    Chndr_A  type
847  5.000e+07   Found 1575 (-27.46667, -60.58333)   Iron IAB Achondrite  Iron
888  1.500e+04    Fell 1583           (39.8, 16.2)      Stony          - Stony
3275 1.070e+05    Fell 1399   (50.18333, 12.73333)   Iron IID Achondrite  Iron
3302 1.270e+05    Fell 1491       (47.86667, 7.35)         LL  Chondrite Stony
3435 3.670e+02    Fell 1654   (55.33333, 10.33333)      Stony          - Stony
3969 2.900e+04    Fell 1628      (51.65, -1.51667)      Stony          - Stony
4166 1.967e+03    Fell 1621           (31.0, 75.0)       Iron Achondrite  Iron
4787 1.040e+03    Fell 1632  (35.07833, 136.93333)          L  Chondrite Stony
4832 1.010e+07   Found 1600    (27.05, -105.43333) Iron IIIAB Achondrite  Iron
4865 1.700e+04    Fell 1637    (44.08333, 6.86667)      Stony          - Stony
4958 3.670e+02    Fell  920   (42.51667, 12.51667)      Stony          - Stony
5020 4.720e+02    Fell  860       (33.725, 130.75)          L  Chondrite Stony
5205 3.670e+02    Fell 1662      (58.55, 31.33333)      Stony          - Stony
5258 3.670e+02    Fell 1519       (39.0, -0.03333)      Stony          - Stony
5275 4.500e+03    Fell 1671            (48.5, 8.0)      Stony          - Stony
5596 1.033e+02    Fell 1490    (45.48333, 9.51667)      Stony          - Stony
5762 3.670e+02    Fell 1636   (51.53333, 14.88333)      Stony          - Stony
5846 6.950e+02    Fell 1688  (34.71667, 137.78333)          H  Chondrite Stony
6347 3.670e+02    Fell 1647       (52.53333, 9.05)      Stony          - Stony
6353 1.040e+04    Fell 1623      (50.38333, -3.95)      Stony          - Stony
6674 4.000e+01    Fell 1668   (45.41667, 11.13333)          H  Chondrite Stony
6677 3.670e+02    Fell 1495       (44.06667, 12.1)      Stony          - Stony
               L3        L4
847  Non-magmatic Primative
888             -         -
3275     Magmatic  Siderite
3302     Ordinary        LL
3435            -         -
3969            -         -
4166            -         -
4787     Ordinary         L
4832     Magmatic  Siderite
4865            -         -
4958            -         -
5020     Ordinary         L
5205            -         -
5258            -         -
5275            -         -
5596            -         -
5762            -         -
5846     Ordinary         H
6347            -         -
6353            -         -
6674     Ordinary         H
6677            -         -

In [9]:
# Only 22 meteorites (0.2%) are pre 1700 and could represent significantly different landcover from the 1700 raster.  
# Not a major issue.