In [1]:
## Load relevant R packages.

inLibraries = list('repr','spdep','raster','rgdal','rgeos')
for (rpack in inLibraries) {
  if (is.element(rpack,installed.packages()[,1])){
      #Load the library into R
      suppressMessages(library(rpack,character.only = TRUE))
    }
    else {
        print(paste("Warning:  ",rpack," is not an installed package"))
    }
}

##  Resize plot area.

options(repr.plot.width=6, repr.plot.height=6)

library(geojsonio)

Registered S3 method overwritten by 'geojsonsf':
  method        from
  print.geojson geojson


Attaching package: ‘geojsonio’


The following object is masked from ‘package:base’:

    pretty

In [2]:
meteorites <- read.csv("data/results/meteorites.csv",stringsAsFactors=FALSE)
meteorites <- subset(meteorites, select = -c(X) )

population <- read.csv("data/results/meteorites_population.csv",stringsAsFactors=FALSE)
population <- subset(population, select = -c(X) )

landcover <- read.csv("data/results/meteorites_landcover.csv",stringsAsFactors=FALSE)
landcover <- subset(landcover, select = -c(X) )

head(meteorites)
head(population)
head(landcover)

  name      id nametype recclass mass_in_grams fell_or_found year latitude
1 Aachen    1  Valid    L5           21        Fell          1880 50.77500
2 Aarhus    2  Valid    H6          720        Fell          1951 56.18333
3 Abajo     4  Valid    H5          331        Found         1982 26.80000
4 Abbott    5  Valid    H3-6      21100        Found         1951 36.30000
5 Abee      6  Valid    EH4      107000        Fell          1952 54.21667
6 Abernathy 7  Valid    L6         2914        Found         1941 33.85000
  longitude  GeoLocation          group_name Chondrite.Achondrite type
1    6.08333 (50.775, 6.08333)    L          Chondrite            Stony
2   10.23333 (56.18333, 10.23333) H          Chondrite            Stony
3 -105.41667 (26.8, -105.41667)   H          Chondrite            Stony
4 -104.28333 (36.3, -104.28333)   H          Chondrite            Stony
5 -113.00000 (54.21667, -113.0)   EH         Chondrite            Stony
6 -101.80000 (33.85, -101.8)      L          Chondrite            Stony
  L3        L4
1 Ordinary  L
2 Ordinary  H
3 Ordinary  H
4 Ordinary  H
5 Enstatite EH-EL
6 Ordinary  L

  x          y        name      id year closest_city pop   pop_year
1    6.08333 50.77500 Aachen    1  1880 Aachen       48688 1851
2   10.23333 56.18333 Aarhus    2  1951 Aarhus       51000 1900
3 -105.41667 26.80000 Abajo     4  1982 NA              NA   NA
4 -104.28333 36.30000 Abbott    5  1951 NA              NA   NA
5 -113.00000 54.21667 Abee      6  1952 NA              NA   NA
6 -101.80000 33.85000 Abernathy 7  1941 NA              NA   NA

  id name      lc_sample
1 1  Aachen    11
2 2  Aarhus     1
3 4  Abajo      2
4 5  Abbott    13
5 6  Abee       1
6 7  Abernathy  1

In [3]:
meteorites_lc <- merge(meteorites,landcover,by="id")

head(meteorites_lc)

  id name.x    nametype recclass mass_in_grams fell_or_found year latitude
1 1  Aachen    Valid    L5           21        Fell          1880 50.77500
2 2  Aarhus    Valid    H6          720        Fell          1951 56.18333
3 4  Abajo     Valid    H5          331        Found         1982 26.80000
4 5  Abbott    Valid    H3-6      21100        Found         1951 36.30000
5 6  Abee      Valid    EH4      107000        Fell          1952 54.21667
6 7  Abernathy Valid    L6         2914        Found         1941 33.85000
  longitude  GeoLocation          group_name Chondrite.Achondrite type
1    6.08333 (50.775, 6.08333)    L          Chondrite            Stony
2   10.23333 (56.18333, 10.23333) H          Chondrite            Stony
3 -105.41667 (26.8, -105.41667)   H          Chondrite            Stony
4 -104.28333 (36.3, -104.28333)   H          Chondrite            Stony
5 -113.00000 (54.21667, -113.0)   EH         Chondrite            Stony
6 -101.80000 (33.85, -101.8)      L          Chondrite            Stony
  L3        L4    name.y    lc_sample
1 Ordinary  L     Aachen    11
2 Ordinary  H     Aarhus     1
3 Ordinary  H     Abajo      2
4 Ordinary  H     Abbott    13
5 Enstatite EH-EL Abee       1
6 Ordinary  L     Abernathy  1

In [4]:
megatable <- merge(meteorites_lc,population,by="id")

keep <- c('id',
          'nametype',
          'recclass',
          'mass_in_grams',
          'fell_or_found',
          'latitude',
          'longitude',
          'GeoLocation',
          'group_name',
          'Chondrite.Achondrite',
          'type',
          'L3',
          'L4',
          'lc_sample',
          'closest_city',
          'pop', 
          'pop_year')

megatable2 <- subset(megatable, select = c(keep))

megatable2

     id    nametype recclass      mass_in_grams fell_or_found latitude
1     1    Valid    L5                21.0      Fell          50.77500
2     2    Valid    H6               720.0      Fell          56.18333
3     4    Valid    H5               331.0      Found         26.80000
4     5    Valid    H3-6           21100.0      Found         36.30000
5     6    Valid    EH4           107000.0      Fell          54.21667
6     7    Valid    L6              2914.0      Found         33.85000
7     8    Valid    H                  1.2      Found         60.43333
8     9    Valid    H4              4500.0      Found         27.23944
9    10    Valid    Acapulcoite     1914.0      Fell          16.88333
10   11    Valid    L6              6700.0      Found         27.50000
11   12    Valid    H5               228.0      Found         27.61667
12   13    Valid    H5               145.0      Found         27.81667
13   14    Valid    L6              1020.0      Found         27.58333
14   15    Valid    H3.9/4           115.0      Found         27.60000
15   16    Valid    H3.9/4           561.0      Found         27.63333
16   17    Valid    L5               542.0      Found         27.51667
17   18    Valid    H5               205.0      Found         27.53333
18   19    Valid    L6               127.0      Found         27.73333
19   20    Valid    L6               276.0      Found         27.75000
20   21    Valid    H5              3800.0      Found         27.75000
21   22    Valid    H6                98.0      Found         27.80000
22   23    Valid    H5               490.0      Found         27.83333
23   24    Valid    H5               307.0      Found         27.80000
24   25    Valid    L6                98.0      Found         27.78333
25   26    Valid    H4-5             111.0      Found         27.71667
26   27    Valid    L5               446.0      Found         27.73333
27   28    Valid    H5               207.0      Found         27.70000
28   29    Valid    L6               581.0      Found         27.70000
29   30    Valid    H5               708.0      Found         27.70000
30   31    Valid    H6              2140.0      Found         27.55000
⋮    ⋮     ⋮        ⋮             ⋮             ⋮             ⋮
9868 57324 Valid    L6                64.00     Found         -24.85000
9869 57325 Valid    H~5             1198.00     Found         -24.85000
9870 57326 Valid    H~5             5758.00     Found         -24.85000
9871 57327 Valid    LL5               20.00     Found         -25.23333
9872 57328 Valid    H~5              904.00     Found         -25.23333
9873 57329 Valid    H~5               42.00     Found         -25.23333
9874 57330 Valid    H4              8100.00     Found         -24.68333
9875 57331 Valid    L~6              161.00     Found         -24.68333
9876 57332 Valid    L~6              663.00     Found         -24.68333
9877 57333 Valid    L6              7090.00     Found         -24.68333
9878 57334 Valid    L~6              333.00     Found         -24.68333
9879 57335 Valid    L~6              506.00     Found         -24.68333
9880 57336 Valid    L~6              203.00     Found         -24.68333
9881 57337 Valid    L~6              131.00     Found         -24.68333
9882 57338 Valid    H~5            12110.00     Found         -24.68333
9883 57339 Valid    H~5             1035.00     Found         -25.00000
9884 57340 Valid    H~5              120.00     Found         -25.00000
9885 57341 Valid    H~6             1569.00     Found         -25.00000
9886 57342 Valid    Iron, IIIAB    18400.00     Found          39.86667
9887 57347 Valid    Eucrite-mmict    272.75     Found          26.70700
9888 57348 Valid    CM2               31.14     Found          26.81900
9889 57354 Valid    Iron, IIAB    100000.00     Found          31.98457
9890 57428 Valid    LL6              212.00     Found          19.77278
9891 57431 Valid    L3               211.00     Found          19.08188
9892 57432 Valid    L5               263.00     Found          19.18687
9893 57433 Valid    L3              7700.00     Found          19.15823
9894 57434 Valid    LL3               11.10     Found          34.82793
9895 57453 Valid    H4               254.00     Found          40.95465
9896 57454 Valid    L6              2854.00     Found          40.89201
9897 57455 Valid    H4               754.00     Found          40.90183
     longitude  GeoLocation            group_name  Chondrite.Achondrite type
1       6.08333 (50.775, 6.08333)      L           Chondrite            Stony
2      10.23333 (56.18333, 10.23333)   H           Chondrite            Stony
3    -105.41667 (26.8, -105.41667)     H           Chondrite            Stony
4    -104.28333 (36.3, -104.28333)     H           Chondrite            Stony
5    -113.00000 (54.21667, -113.0)     EH          Chondrite            Stony
6    -101.80000 (33.85, -101.8)        L           Chondrite            Stony
7      22.30000 (60.43333, 22.3)       H           Chondrite            Stony
8      29.83583 (27.23944, 29.83583)   H           Chondrite            Stony
9     -99.90000 (16.88333, -99.9)      Acapulcoite Achondrite           Stony
10      3.61667 (27.5, 3.61667)        L           Chondrite            Stony
11      3.85000 (27.61667, 3.85)       H           Chondrite            Stony
12      4.03333 (27.81667, 4.03333)    H           Chondrite            Stony
13      3.81667 (27.58333, 3.81667)    L           Chondrite            Stony
14      3.83333 (27.6, 3.83333)        H           Chondrite            Stony
15      3.96667 (27.63333, 3.96667)    H           Chondrite            Stony
16      3.65000 (27.51667, 3.65)       L           Chondrite            Stony
17      3.70000 (27.53333, 3.7)        H           Chondrite            Stony
18      4.08333 (27.73333, 4.08333)    L           Chondrite            Stony
19      4.10000 (27.75, 4.1)           L           Chondrite            Stony
20      4.16667 (27.75, 4.16667)       H           Chondrite            Stony
21      4.16667 (27.8, 4.16667)        H           Chondrite            Stony
22      4.28333 (27.83333, 4.28333)    H           Chondrite            Stony
23      4.46667 (27.8, 4.46667)        H           Chondrite            Stony
24      4.28333 (27.78333, 4.28333)    L           Chondrite            Stony
25      4.48333 (27.71667, 4.48333)    H           Chondrite            Stony
26      4.40000 (27.73333, 4.4)        L           Chondrite            Stony
27      4.08333 (27.7, 4.08333)        H           Chondrite            Stony
28      4.06667 (27.7, 4.06667)        L           Chondrite            Stony
29      4.06667 (27.7, 4.06667)        H           Chondrite            Stony
30      3.61667 (27.55, 3.61667)       H           Chondrite            Stony
⋮    ⋮          ⋮                      ⋮           ⋮                    ⋮
9868  -70.53333 (-24.85, -70.53333)    L           Chondrite            Stony
9869  -70.53333 (-24.85, -70.53333)    H           Chondrite            Stony
9870  -70.53333 (-24.85, -70.53333)    H           Chondrite            Stony
9871  -69.71667 (-25.23333, -69.71667) LL          Chondrite            Stony
9872  -69.71667 (-25.23333, -69.71667) H           Chondrite            Stony
9873  -69.71667 (-25.23333, -69.71667) H           Chondrite            Stony
9874  -69.76667 (-24.68333, -69.76667) H           Chondrite            Stony
9875  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9876  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9877  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9878  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9879  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9880  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9881  -69.76667 (-24.68333, -69.76667) L           Chondrite            Stony
9882  -69.76667 (-24.68333, -69.76667) H           Chondrite            Stony
9883  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9884  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9885  -70.46667 (-25.0, -70.46667)     H           Chondrite            Stony
9886 -106.88333 (39.86667, -106.88333) Iron IIIAB  Achondrite           Iron
9887  -12.75900 (26.707, -12.759)      Eucrite     Achondrite           Stony
9888  -12.72400 (26.819, -12.724)      CM          Chondrite            Stony
9889   -5.51528 (31.98457, -5.51528)   Iron IIAB   Achondrite           Iron
9890   56.38982 (19.77278, 56.38982)   LL          Chondrite            Stony
9891   54.71472 (19.08188, 54.71472)   L           Chondrite            Stony
9892   54.88170 (19.18687, 54.8817)    L           Chondrite            Stony
9893   54.88668 (19.15823, 54.88668)   L           Chondrite            Stony
9894 -118.14640 (34.82793, -118.1464)  LL          Chondrite            Stony
9895 -118.49693 (40.95465, -118.49693) H           Chondrite            Stony
9896 -118.55319 (40.89201, -118.55319) L           Chondrite            Stony
9897 -118.54465 (40.90183, -118.54465) H           Chondrite            Stony
     L3           L4          lc_sample closest_city pop   pop_year
1    Ordinary     L           11        Aachen       48688 1851
2    Ordinary     H            1        Aarhus       51000 1900
3    Ordinary     H            2        NA              NA   NA
4    Ordinary     H           13        NA              NA   NA
5    Enstatite    EH-EL        1        NA              NA   NA
6    Ordinary     L            1        NA              NA   NA
7    Ordinary     H            1        NA              NA   NA
8    Ordinary     H           11        NA              NA   NA
9    Primitive    -            0        NA              NA   NA
10   Ordinary     L           14        NA              NA   NA
11   Ordinary     H           14        NA              NA   NA
12   Ordinary     H           14        NA              NA   NA
13   Ordinary     L           14        NA              NA   NA
14   Ordinary     H           14        NA              NA   NA
15   Ordinary     H           14        NA              NA   NA
16   Ordinary     L           14        NA              NA   NA
17   Ordinary     H           14        NA              NA   NA
18   Ordinary     L           14        NA              NA   NA
19   Ordinary     L           14        NA              NA   NA
20   Ordinary     H           14        NA              NA   NA
21   Ordinary     H           14        NA              NA   NA
22   Ordinary     H           14        NA              NA   NA
23   Ordinary     H           14        NA              NA   NA
24   Ordinary     L           14        NA              NA   NA
25   Ordinary     H           14        NA              NA   NA
26   Ordinary     L           14        NA              NA   NA
27   Ordinary     H           14        NA              NA   NA
28   Ordinary     L           14        NA              NA   NA
29   Ordinary     H           14        NA              NA   NA
30   Ordinary     H           14        NA              NA   NA
⋮    ⋮            ⋮           ⋮         ⋮            ⋮     ⋮
9868 Ordinary     L           11        NA           NA    NA
9869 Ordinary     H           11        NA           NA    NA
9870 Ordinary     H           11        NA           NA    NA
9871 Ordinary     LL          11        NA           NA    NA
9872 Ordinary     H           11        NA           NA    NA
9873 Ordinary     H           11        NA           NA    NA
9874 Ordinary     H           11        NA           NA    NA
9875 Ordinary     L           11        NA           NA    NA
9876 Ordinary     L           11        NA           NA    NA
9877 Ordinary     L           11        NA           NA    NA
9878 Ordinary     L           11        NA           NA    NA
9879 Ordinary     L           11        NA           NA    NA
9880 Ordinary     L           11        NA           NA    NA
9881 Ordinary     L           11        NA           NA    NA
9882 Ordinary     H           11        NA           NA    NA
9883 Ordinary     H           11        NA           NA    NA
9884 Ordinary     H           11        NA           NA    NA
9885 Ordinary     H           11        NA           NA    NA
9886 Magmatic     Siderite    11        NA           NA    NA
9887 Asteroidal   H-E-D Vesta 11        NA           NA    NA
9888 Carbonaceous CM-CO       11        NA           NA    NA
9889 Magmatic     Siderite    11        NA           NA    NA
9890 Ordinary     LL          11        NA           NA    NA
9891 Ordinary     L           11        NA           NA    NA
9892 Ordinary     L           11        NA           NA    NA
9893 Ordinary     L           11        NA           NA    NA
9894 Ordinary     LL          11        NA           NA    NA
9895 Ordinary     H           11        NA           NA    NA
9896 Ordinary     L           11        NA           NA    NA
9897 Ordinary     H           11        NA           NA    NA

In [5]:
# Creating a score to weight meteorite finds.

# I want there to be a weighting where meteorites found in rare places are "worth more" than those found 
# in obvious places.

# First looking at the population:

urban <- subset(megatable2, (!is.na(megatable$pop)))
summary(urban)
urban

       id          nametype           recclass         mass_in_grams
 Min.   :    1   Length:239         Length:239         Min.   :       0
 1st Qu.:10851   Class :character   Class :character   1st Qu.:     367
 Median :16627   Mode  :character   Mode  :character   Median :    1500
 Mean   :17644                                         Mean   :  108967
 3rd Qu.:23758                                         3rd Qu.:    8750
 Max.   :55584                                         Max.   :15500000
 fell_or_found         latitude        longitude        GeoLocation
 Length:239         Min.   :-34.55   Min.   :-157.783   Length:239
 Class :character   1st Qu.: 28.50   1st Qu.:  -6.533   Class :character
 Mode  :character   Median : 38.18   Median :  13.167   Mode  :character
                    Mean   : 35.21   Mean   :  17.778
                    3rd Qu.: 46.30   3rd Qu.:  76.282
                    Max.   : 58.55   Max.   : 140.866
  group_name        Chondrite.Achondrite     type                L3
 Length:239         Length:239           Length:239         Length:239
 Class :character   Class :character     Class :character   Class :character
 Mode  :character   Mode  :character     Mode  :character   Mode  :character



      L4              lc_sample      closest_city            pop
 Length:239         Min.   : 0.000   Length:239         Min.   :   1565
 Class :character   1st Qu.: 1.000   Class :character   1st Qu.:  32000
 Mode  :character   Median : 2.000   Mode  :character   Median :  47000
                    Mean   : 4.866                      Mean   : 248104
                    3rd Qu.:11.000                      3rd Qu.: 128914
                    Max.   :16.000                      Max.   :5406000
    pop_year
 Min.   :1300
 1st Qu.:1856
 Median :1900
 Mean   :1883
 3rd Qu.:1900
 Max.   :2000

     id    nametype recclass          mass_in_grams fell_or_found latitude
1       1  Valid    L5                     21.0     Fell          50.77500
2       2  Valid    H6                    720.0     Fell          56.18333
415   425  Valid    Unknown               367.0     Fell          50.66667
436   446  Valid    CR2-an                160.0     Fell          24.41667
451   462  Valid    L6                   3200.0     Fell          36.23333
452   463  Valid    H5                    908.0     Fell          44.88333
455   466  Valid    L6                 228000.0     Fell          45.26667
485  2301  Valid    L6                    367.0     Fell          47.46667
497  2315  Valid    L6                      6.1     Found         39.75000
499  2318  Valid    LL6                 15000.0     Fell          53.58333
500  2318  Valid    LL6                 15000.0     Fell          53.58333
501  2318  Valid    LL6                 15000.0     Fell          53.58333
532  2346  Valid    L6                   1300.0     Fell          52.05000
533  2346  Valid    L6                   1300.0     Fell          52.05000
576  4922  Valid    Iron, IAB-sLL       10322.0     Fell          28.48333
591  4938  Valid    CM2                   629.0     Fell          -6.33333
594  4941  Valid    Iron, ungrouped       860.0     Found         45.05778
596  4944  Valid    OC                    367.0     Fell          41.36667
613  4954  Valid    L5                  44000.0     Fell          52.56528
614  4954  Valid    L5                  44000.0     Fell          52.56528
616  4957  Valid    L5                  15500.0     Fell          52.03333
645  5011  Valid    LL4                  3700.0     Fell          25.36667
646  5012  Valid    Iron                  367.0     Found         25.33333
665  5032  Valid    H                      13.9     Fell          42.53333
666  5032  Valid    H                      13.9     Fell          42.53333
669  5035  Valid    LL3.8                1100.0     Fell          33.88333
692  5062  Valid    Iron, IAB complex 1500000.0     Found         49.96667
702  5072  Valid    H6                    470.0     Fell          49.36667
719  5090  Valid    LL3.9                7500.0     Fell          33.83333
755  5128  Valid    L                     762.0     Fell          40.50000
⋮    ⋮     ⋮        ⋮                 ⋮             ⋮             ⋮
6819 24209 Valid    OC                2.200e+02     Found          43.82700
6839 24224 Valid    Iron, IAB-an      4.400e+03     Found          32.68333
6870 24250 Valid    L6                3.500e+02     Fell           41.70000
6871 24251 Valid    L6                2.756e+03     Fell           41.71056
6888 24269 Valid    Iron, IIIAB       1.550e+07     Found          45.36667
6953 30365 Valid    Iron, IAB-ung     6.000e+04     Found          22.75000
6959 30372 Valid    Stone-uncl        1.000e-01     Fell           34.16667
6968 30381 Valid    Iron, ungrouped   1.000e+06     Found          22.81667
7029 30448 Valid    CV3               5.300e+03     Fell           39.77978
7031 30450 Valid    L5                1.200e+02     Found          44.49500
7379 34489 Valid    Eucrite           1.800e+02     Fell           28.54750
7737 44716 Valid    L5                2.040e+03     Found          45.00569
7788 45816 Valid    H5                4.680e+03     Found          54.36495
7944 45976 Valid    H/L4              4.780e+02     Fell            3.40500
7960 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7961 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7962 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7963 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7964 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7965 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7966 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
7967 47351 Valid    Iron, IIE-an      6.800e+03     Fell           25.14333
8131 48916 Valid    Iron, IVA-an      1.620e+05     Found          41.65000
8711 52091 Valid    Iron, IIIE        2.000e+05     Found         -30.03306
8864 52854 Valid    LL5               1.850e+02     Found          50.58333
8931 53810 Valid    H5                4.300e+03     Fell           48.76367
8937 53840 Valid    Pallasite, PMG    4.995e+05     Found          -6.60000
9036 54608 Valid    Iron, IAB complex 3.000e+06     Found          36.30000
9083 54719 Valid    H5                1.600e+03     Fell           26.46469
9332 55584 Valid    Achondrite-ung    1.500e-01     Fell           44.11667
     longitude  GeoLocation            group_name Chondrite.Achondrite
1       6.08333 (50.775, 6.08333)      L          Chondrite
2      10.23333 (56.18333, 10.23333)   H          Chondrite
415     2.33333 (50.66667, 2.33333)    Unknown    -
436    39.51667 (24.41667, 39.51667)   CR         Chondrite
451    37.13333 (36.23333, 37.13333)   L          Chondrite
452     8.75000 (44.88333, 8.75)       H          Chondrite
455    10.15000 (45.26667, 10.15)      L          Chondrite
485    -0.55000 (47.46667, -0.55)      L          Chondrite
497  -105.20000 (39.75, -105.2)        L          Chondrite
499    -2.71667 (53.58333, -2.71667)   LL         Chondrite
500    -2.71667 (53.58333, -2.71667)   LL         Chondrite
501    -2.71667 (53.58333, -2.71667)   LL         Chondrite
532     0.30000 (52.05, 0.3)           L          Chondrite
533     0.30000 (52.05, 0.3)           L          Chondrite
576    78.50000 (28.48333, 78.5)       Iron IAB   Achondrite
591   106.00000 (-6.33333, 106.0)      CM         Chondrite
594     9.19556 (45.05778, 9.19556)    Iron       Achondrite
596     2.16667 (41.36667, 2.16667)    Chondrite  Chondrite
613    -1.33972 (52.56528, -1.33972)   L          Chondrite
614    -1.33972 (52.56528, -1.33972)   L          Chondrite
616    20.93583 (52.03333, 20.93583)   L          Chondrite
645    82.91667 (25.36667, 82.91667)   LL         Chondrite
646    83.00000 (25.33333, 83.0)       Iron       Achondrite
665   -73.83333 (42.53333, -73.83333)  H          Chondrite
666   -73.83333 (42.53333, -73.83333)  H          Chondrite
669    35.50000 (33.88333, 35.5)       LL         Chondrite
692     6.53333 (49.96667, 6.53333)    Iron IAB   Achondrite
702    16.63333 (49.36667, 16.63333)   H          Chondrite
719   115.83333 (33.83333, 115.83333)  LL         Chondrite
755   -80.08333 (40.5, -80.08333)      L          Chondrite
⋮    ⋮          ⋮                      ⋮          ⋮
6819  -70.24717 (43.827, -70.24717)    Chondrite  Chondrite
6839  -85.56667 (32.68333, -85.56667)  Iron IAB   Achondrite
6870  -72.65000 (41.7, -72.65)         L          Chondrite
6871  -72.67361 (41.71056, -72.67361)  L          Chondrite
6888 -122.58333 (45.36667, -122.58333) Iron IIIAB Achondrite
6953  108.33333 (22.75, 108.33333)     Iron IAB   Achondrite
6959  131.45000 (34.16667, 131.45)     Stony      -
6968 -102.56667 (22.81667, -102.56667) Iron       Achondrite
7029   64.60035 (39.77978, 64.60035)   CV         Chondrite
7031   11.35556 (44.495, 11.35556)     L          Chondrite
7379  -81.36222 (28.5475, -81.36222)   Eucrite    Achondrite
7737   39.20519 (45.00569, 39.20519)   L          Chondrite
7788   48.59145 (54.364947, 48.591447) H          Chondrite
7944  -76.51000 (3.405, -76.51)        H,L, or LL Chondrite
7960   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7961   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7962   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7963   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7964   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7965   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7966   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
7967   75.81333 (25.14333, 75.81333)   Iron IIE   Achondrite
8131   -0.86667 (41.65, -0.86667)      Iron IVA   Achondrite
8711  -51.23000 (-30.03306, -51.23)    Iron IIIE  Achondrite
8864    6.16667 (50.58333, 6.16667)    LL         Chondrite
8931   21.17633 (48.76367, 21.17633)   H          Chondrite
8937  110.73333 (-6.6, 110.73333)      Main Group Achondrite
9036  120.48333 (36.3, 120.48333)      Iron IAB   Achondrite
9083  106.63241 (26.46469, 106.63241)  H          Chondrite
9332   27.26667 (44.11667, 27.26667)   Achondrite Achondrite
     type       L3           L4          lc_sample closest_city pop
1    Stony      Ordinary     L           11        Aachen         48688
2    Stony      Ordinary     H            1        Aarhus         51000
415  -          -            -            1        Saint-Omer     20000
436  Stony      Carbonaceous CR           2        Medina         27500
451  Stony      Ordinary     L            2        Aleppo         99383
452  Stony      Ordinary     H            1        Alessandria    22994
455  Stony      Ordinary     L            1        Cremona        28328
485  Stony      Ordinary     L            1        Angers         25442
497  Stony      Ordinary     L            1        Denver        272000
499  Stony      Ordinary     LL           1        Preston       120000
500  Stony      Ordinary     LL           1        Warrington     63000
501  Stony      Ordinary     LL           1        Wigan          60000
532  Stony      Ordinary     L            2        Cambridge      38000
533  Stony      Ordinary     L            2        Haverhill      37000
576  Iron       Non-magmatic Primative    1        Sambhal        42000
591  Stony      Carbonaceous CM-CO        1        Bantam         50000
594  Iron       -            -            1        Pavia          25006
596  Stony      -            -            0        Barcelona      43000
613  Stony      Ordinary     L            1        Coventry      252000
614  Stony      Ordinary     L            1        Leicester     285000
616  Stony      Ordinary     L           11        Warsaw       1900000
645  Stony      Ordinary     LL           1        Varanasi      125000
646  Iron       -            -            1        Varanasi      640000
665  Stony      Ordinary     H            1        Albany         55708
666  Stony      Ordinary     H            1        Troy           36349
669  Stony      Ordinary     LL           1        Beruit        118000
692  Iron       Non-magmatic Primative    2        Trier          10413
702  Stony      Ordinary     H            1        Brunn          23367
719  Stony      Ordinary     LL           1        Pochow         80000
755  Stony      Ordinary     L            1        Pittsburgh    205000
⋮    ⋮          ⋮            ⋮           ⋮         ⋮            ⋮
6819 Stony      -            -           10        Portland       56000
6839 Iron       Non-magmatic Primative   12        Auburn         30000
6870 Stony      Ordinary     L           10        Hartford      270000
6871 Stony      Ordinary     L           10        Hartford     1048000
6888 Iron       Magmatic     Siderite     1        Portland       90000
6953 Iron       Non-magmatic Primative    2        Nanning        40000
6959 Stony      -            -           11        Yamaguchi      11600
6968 Iron       -            -            2        Zacatecas      50000
7029 Stony      Carbonaceous CV-CK       11        Bukhara        68000
7031 Stony      Ordinary     L           11        Bologna       560000
7379 Stony      Asteroidal   H-E-D Vesta 11        Orlando       505000
7737 Stony      Ordinary     L           11        Krasnodar     530000
7788 Stony      Ordinary     H           11        Ulyanovsk      44000
7944 Stony      Ordinary     -           11        Cali         2128000
7960 Iron       Magmatic     Siderite    11        Kota           34000
7961 Iron       Magmatic     Siderite    11        Kota           34000
7962 Iron       Magmatic     Siderite    11        Kota           34000
7963 Iron       Magmatic     Siderite    11        Kota           34000
7964 Iron       Non-magmatic Primative   11        Kota           34000
7965 Iron       Non-magmatic Primative   11        Kota           34000
7966 Iron       Non-magmatic Primative   11        Kota           34000
7967 Iron       Non-magmatic Primative   11        Kota           34000
8131 Iron       Magmatic     Siderite    13        Zaragoza      549000
8711 Iron       Magmatic     Siderite    11        Porto Alegre 1322000
8864 Stony      Ordinary     LL          11        Aachen        135000
8931 Stony      Ordinary     H           11        Kosice         35000
8937 Stony-Iron Pallasite    -           11        Kudus          31000
9036 Iron       Non-magmatic Primative   11        Jimo         1019000
9083 Stony      Ordinary     H           11        Guiyang      1665000
9332 Stony      -            -            2        Silistra       22000
     pop_year
1    1851
2    1900
415  1300
436  1900
451  1856
452  1848
455  1851
485  1809
497  1925
499  1900
500  1900
501  1900
532  1900
533  1900
576  1900
591  1630
594  1857
596  1700
613  1950
614  1950
616  1975
645  1750
646  1975
665  1850
666  1850
669  1900
692  1770
702  1804
719  1922
755  1875
⋮    ⋮
6819 1900
6839 1900
6870 1950
6871 1975
6888 1900
6953 1900
6959 1873
6968 1750
7029 1897
7031 1975
7379 1975
7737 1975
7788 1900
7944 2000
7960 1900
7961 1900
7962 1900
7963 1900
7964 1900
7965 1900
7966 1900
7967 1900
8131 1975
8711 2000
8864 1900
8931 1900
8937 1900
9036 2000
9083 2000
9332 1852

In [ ]:
# 239 of the hits were near an urban area.  Honestly, I don't believe 
# that's going to affect my results very much.

In [6]:
#next, landcover.  These are the land values that meteorites have been found in:

#   11  Temperate deciduous forest
#    2  Pasture/land used for grazing
#    1  Cultivated land
#   14  Hot desert
#   13  Grassland/Steppe
#   10  Temperate mixed forest
#    0  Water Bodies
#   15  Scrubland
#   12  Warm mixed forest
#   16  Savanna
#    8  Boreal forest
#    9  Cool conifer forest
#   17  Tropical woodland
#   18  Tropical forest
#    7  Wooded tundra
#    6  Tundra

# and here are the percentages for them:

library(dplyr)

counts <- megatable2 %>% group_by(lc_sample) %>% summarise(n=n())

total <- nrow(megatable2)

for (i in 1:16){
    value <- counts[i,2]
    value_percent <- (value/total)*100
    counts[i,3] <- value_percent
}

counts <- counts[,-2]
counts

Attaching package: ‘dplyr’


The following objects are masked from ‘package:rgeos’:

    intersect, setdiff, union


The following objects are masked from ‘package:raster’:

    intersect, select, union


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

   lc_sample n
1   0         0.9295746
2   1         7.6790947
3   2         9.8918864
4   6         0.1212489
5   7         0.0707285
6   8         0.4344751
7   9         0.2121855
8  10         1.1720723
9  11        69.2533091
10 12         0.7173891
11 13         3.3444478
12 14         4.4659998
13 15         0.8386380
14 16         0.5759321
15 17         0.1919774
16 18         0.1010407

In [7]:
#  0		  92		 0.9295746	Water Bodies
#  1		 760		 7.6790947	Cultivated land
#  2		 979		 9.8918864	Pasture/land used for grazing
#  6		  12		 0.1212489	Tundra
#  7		   7		 0.0707285	Wooded tundra
#  8		  43		 0.4344751	Boreal forest
#  9		  21		 0.2121855	Cool conifer forest
# 10		 116		 1.1720723	Temperate mixed forest
# 11		6854		69.2533091	Temperate deciduous forest
# 12		  71		 0.7173891	Warm mixed forest
# 13		 331		 3.3444478	Grassland/Steppe
# 14		 442		 4.4659998	Hot desert
# 15		  83		 0.8386380	Scrubland
# 16		  57		 0.5759321	Savanna
# 17		  19		 0.1919774	Tropical woodland
# 18		  10		 0.1010407	Tropical forest

In [8]:
# How does this compare to the actual land coverage?

lc1990name <- "data/lc/historic_landcover_hd_1990.asc"
lc1990 <- raster(lc1990name,values=TRUE)

counts2 <- freq(lc1990)

#lc1990

total2 <- 259200

for (i in 1:18){
    value2 <- counts2[i,2]
    value2_percent <- (value2/total2)*100
    counts2[i,2] <- value2_percent
}

counts2

      value count
 [1,]  0    66.3206019
 [2,]  1     2.2827932
 [3,]  2     4.5821759
 [4,]  5     1.1292438
 [5,]  6     1.8429784
 [6,]  7     0.7133488
 [7,]  8     4.0671296
 [8,]  9     0.6041667
 [9,] 10     0.5412809
[10,] 11     0.3364198
[11,] 12     0.3572531
[12,] 13     1.4336420
[13,] 14     2.2241512
[14,] 15     0.3406636
[15,] 16     1.0501543
[16,] 17     0.7391975
[17,] 18     1.0856481
[18,] 19    10.3491512

In [9]:
# no category 5 or 19....

counts3 <- counts2[-4,]
counts3 <- counts3[-17,]

counts3 <- as.data.frame(counts3)

over_under <- merge(counts, counts3, by.x= "lc_sample", by.y="value")
over_under

   lc_sample n          count
1   0         0.9295746 66.3206019
2   1         7.6790947  2.2827932
3   2         9.8918864  4.5821759
4   6         0.1212489  1.8429784
5   7         0.0707285  0.7133488
6   8         0.4344751  4.0671296
7   9         0.2121855  0.6041667
8  10         1.1720723  0.5412809
9  11        69.2533091  0.3364198
10 12         0.7173891  0.3572531
11 13         3.3444478  1.4336420
12 14         4.4659998  2.2241512
13 15         0.8386380  0.3406636
14 16         0.5759321  1.0501543
15 17         0.1919774  0.7391975
16 18         0.1010407  1.0856481

In [10]:
over_under$over_under <- over_under$count/over_under$n

over_under

   lc_sample n          count      over_under
1   0         0.9295746 66.3206019 71.345108318
2   1         7.6790947  2.2827932  0.297273742
3   2         9.8918864  4.5821759  0.463225691
4   6         0.1212489  1.8429784 15.199964313
5   7         0.0707285  0.7133488 10.085732474
6   8         0.4344751  4.0671296  9.361019057
7   9         0.2121855  0.6041667  2.847351190
8  10         1.1720723  0.5412809  0.461815234
9  11        69.2533091  0.3364198  0.004857815
10 12         0.7173891  0.3572531  0.497990676
11 13         3.3444478  1.4336420  0.428663282
12 14         4.4659998  2.2241512  0.498018660
13 15         0.8386380  0.3406636  0.406210537
14 16         0.5759321  1.0501543  1.823399529
15 17         0.1919774  0.7391975  3.850441033
16 18         0.1010407  1.0856481 10.744659722

In [11]:
# A value > 1 means that the samples underrepresent the earth's land cover, 
# while a value < 1 means the samples overrepresent.  These weights will be important to add for predictions.

head(megatable)
head(megatable2)

  id name.x    nametype recclass mass_in_grams fell_or_found year.x latitude
1 1  Aachen    Valid    L5           21        Fell          1880   50.77500
2 2  Aarhus    Valid    H6          720        Fell          1951   56.18333
3 4  Abajo     Valid    H5          331        Found         1982   26.80000
4 5  Abbott    Valid    H3-6      21100        Found         1951   36.30000
5 6  Abee      Valid    EH4      107000        Fell          1952   54.21667
6 7  Abernathy Valid    L6         2914        Found         1941   33.85000
  longitude  GeoLocation          ⋯ L4    name.y    lc_sample x
1    6.08333 (50.775, 6.08333)    ⋯ L     Aachen    11           6.08333
2   10.23333 (56.18333, 10.23333) ⋯ H     Aarhus     1          10.23333
3 -105.41667 (26.8, -105.41667)   ⋯ H     Abajo      2        -105.41667
4 -104.28333 (36.3, -104.28333)   ⋯ H     Abbott    13        -104.28333
5 -113.00000 (54.21667, -113.0)   ⋯ EH-EL Abee       1        -113.00000
6 -101.80000 (33.85, -101.8)      ⋯ L     Abernathy  1        -101.80000
  y        name      year.y closest_city pop   pop_year
1 50.77500 Aachen    1880   Aachen       48688 1851
2 56.18333 Aarhus    1951   Aarhus       51000 1900
3 26.80000 Abajo     1982   NA              NA   NA
4 36.30000 Abbott    1951   NA              NA   NA
5 54.21667 Abee      1952   NA              NA   NA
6 33.85000 Abernathy 1941   NA              NA   NA

  id nametype recclass mass_in_grams fell_or_found latitude longitude
1 1  Valid    L5           21        Fell          50.77500    6.08333
2 2  Valid    H6          720        Fell          56.18333   10.23333
3 4  Valid    H5          331        Found         26.80000 -105.41667
4 5  Valid    H3-6      21100        Found         36.30000 -104.28333
5 6  Valid    EH4      107000        Fell          54.21667 -113.00000
6 7  Valid    L6         2914        Found         33.85000 -101.80000
  GeoLocation          group_name Chondrite.Achondrite type  L3        L4
1 (50.775, 6.08333)    L          Chondrite            Stony Ordinary  L
2 (56.18333, 10.23333) H          Chondrite            Stony Ordinary  H
3 (26.8, -105.41667)   H          Chondrite            Stony Ordinary  H
4 (36.3, -104.28333)   H          Chondrite            Stony Ordinary  H
5 (54.21667, -113.0)   EH         Chondrite            Stony Enstatite EH-EL
6 (33.85, -101.8)      L          Chondrite            Stony Ordinary  L
  lc_sample closest_city pop   pop_year
1 11        Aachen       48688 1851
2  1        Aarhus       51000 1900
3  2        NA              NA   NA
4 13        NA              NA   NA
5  1        NA              NA   NA
6  1        NA              NA   NA

In [17]:
over_under2 <- subset(over_under, select= -c(2,3))
over_under2

   lc_sample over_under
1   0        71.345108318
2   1         0.297273742
3   2         0.463225691
4   6        15.199964313
5   7        10.085732474
6   8         9.361019057
7   9         2.847351190
8  10         0.461815234
9  11         0.004857815
10 12         0.497990676
11 13         0.428663282
12 14         0.498018660
13 15         0.406210537
14 16         1.823399529
15 17         3.850441033
16 18        10.744659722

In [36]:
megatable3 <- merge (megatable2, over_under2, by="lc_sample")

megatable3 <- megatable3[order(megatable3$id),]

megatable4 <- megatable3[, c(2:14,1,18)]

head(megatable4)

     id nametype recclass mass_in_grams fell_or_found latitude longitude
2031 1  Valid    L5           21        Fell          50.77500    6.08333
285  2  Valid    H6          720        Fell          56.18333   10.23333
1759 4  Valid    H5          331        Found         26.80000 -105.41667
9266 5  Valid    H3-6      21100        Found         36.30000 -104.28333
493  6  Valid    EH4      107000        Fell          54.21667 -113.00000
411  7  Valid    L6         2914        Found         33.85000 -101.80000
     GeoLocation          group_name Chondrite.Achondrite type  L3        L4
2031 (50.775, 6.08333)    L          Chondrite            Stony Ordinary  L
285  (56.18333, 10.23333) H          Chondrite            Stony Ordinary  H
1759 (26.8, -105.41667)   H          Chondrite            Stony Ordinary  H
9266 (36.3, -104.28333)   H          Chondrite            Stony Ordinary  H
493  (54.21667, -113.0)   EH         Chondrite            Stony Enstatite EH-EL
411  (33.85, -101.8)      L          Chondrite            Stony Ordinary  L
     lc_sample over_under
2031 11        0.004857815
285   1        0.297273742
1759  2        0.463225691
9266 13        0.428663282
493   1        0.297273742
411   1        0.297273742

In [37]:
write.csv(megatable4,'data/results/meteorites_weighted.csv')